Repository hmcts/azure-platform-terraform, pull requests merged in 2022-10, with the labels that each got.

#1284 RET-2055: updated the custom domain for the employment claims service
  environments/prod/prod.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, test-frontendappgateway/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, prod-shutter/destroy, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-global/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update

#1285 Update README with further documentation
  README.md
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-global/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update

#1289 Dtspo-4684 Create zone redundant App gateway
  azure_pipeline.yaml
  environments/stg/stg.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-global/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update

#1290 Updates the guide from Palo's to Panorama
  migrate-appgateway.md
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-global/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update

#1294 Update test.tfvars
  environments/prod/prod.tfvars
  environments/test/test.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, stg-global/no-changes, test-global/add-or-update, prod-global/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update

#1295 RET-2055: Updated custom domain to employment tribunal claim service
  environments/prod/prod.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-global/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update

#1299 Update ET SYA certificate
  environments/prod/prod.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update

#1300 Update Cluster IPS
  environments/demo/demo.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, test-frontendappgateway/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update, prod-shutter/no-changes

#1301 updated config for fis
  environments/demo/backend_lb_config.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, test-frontendappgateway/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update, prod-shutter/no-changes, demo-cftapps_private_dns/destroy

#1302 DTSPO-4684. switch plum to new FW appgwupdate
  environments/stg/stg.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, test-frontendappgateway/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update, prod-shutter/no-changes

#1303 DTSPO-4684 update plum backend
  environments/stg/stg.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, test-frontendappgateway/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update, prod-shutter/no-changes

#1307 DTSPO-4685 AAT:: Clean up
  azure_pipeline.yaml
  environments/stg/stg.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update, prod-shutter/no-changes

#1304 DTSPO-4685 :: PROD:: Change plum backend
  environments/prod/prod.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, test-frontendappgateway/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update, prod-shutter/no-changes

#1308 DTSPO-4865 updating IP address for new app gw
  environments/prod/prod.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update, prod-shutter/no-changes

#1306 DTSPO-4685 prod:: Point to new Appgw
  environments/prod/backend_lb_config_arm_to_tf.yaml
  environments/prod/prod.tfvars
Labels: DO-NOT-MERGE, sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, test-frontendappgateway/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update, prod-shutter/no-changes

#1309 LAU-472: Update to add demo int backends
  environments/demo/backend_lb_config.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update, prod-shutter/no-changes

#1312 Delete et-sya from Prod config
  environments/prod/prod.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, prod-shutter/destroy, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update, prod-global/destroy

#1314 Re-add ET SYA Azure Front Door config
  environments/prod/prod.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update

#1316 Update ET Custom Domain
  environments/prod/prod.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update

#1317 PCQ-1471: Adding LB for PCQ Backend Demo Int
  environments/demo/backend_lb_config.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update

#1320 PCQ-1471: Retriggering update
  environments/demo/backend_lb_config.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update, prod-shutter/no-changes
