Repository hmcts/azure-platform-terraform, pull requests merged in 2022-09, with the labels that each got.

#1256 Remove dns entries to avoid resource conflict when readding
  environments/stg/backend_lb_config.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, stg-cftapps_private_dns/destroy

#1257 correct backend urls perftest
  environments/test/test.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, stg-global/no-changes, stg-cftapps_private_dns/add-or-update, test-global/add-or-update

#1238 Dtspo 8117 plum prod
  environments/prod/backend_lb_config.yaml
  environments/prod/prod.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, test-cftapps_cluster_lb_backend/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-cftapps_private_dns/add-or-update, stg-cftapps_private_dns/add-or-update, prod-global/add-or-update

#1258 removing ccd and camunda from load balancer
  environments/stg/backend_lb_config.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, stg-cftapps_private_dns/destroy

#1260 Added ITHC env for HMI
  environments/ithc/ithc.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, ithc-global/add-or-update

#1262 HMIS-1095 - Correct ITHC Firewall URL for HMI
  environments/ithc/ithc.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, ithc-global/add-or-update

#1261 Update backend_lb_config.yaml
  environments/prod/backend_lb_config.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-cftapps_private_dns/add-or-update

#1267 Point plum at new cluster
  environments/prod/prod.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-global/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update

#1266 Initial commit for hub routing for new appgw
  azure_pipeline.yaml
  components/cftapps_cluster_lb_arm_tf/local.tf
  components/cftapps_cluster_lb_arm_tf/main.tf
  components/cftapps_cluster_lb_arm_tf/provider.tf
  components/cftapps_cluster_lb_arm_tf/variables.tf
  components/cftapps_cluster_lb_backend_arm_tf/local.tf
  components/cftapps_cluster_lb_backend_arm_tf/main.tf
  components/cftapps_cluster_lb_backend_arm_tf/provider.tf
  components/cftapps_cluster_lb_backend_arm_tf/variables.tf
  environments/prod/backend_lb_config_arm_to_tf.yaml
  environments/prod/prod.tfvars
  environments/variables.tf
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, sbox-global/add-or-update, sbox-shutter/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update

#1264 Change mode for ET WAF
  environments/demo/backend_lb_config.yaml
  environments/ithc/backend_lb_config.yaml
  environments/ithc/ithc.tfvars
  environments/test/test.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, prod-global/no-changes, stg-global/no-changes, ithc-cftapps_private_dns/add-or-update, test-global/add-or-update, sbox-global/add-or-update, ithc-global/add-or-update, sbox-shutter/add-or-update

#1269 Removes IP restrictions on prod for plum
  environments/prod/prod.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-global/add-or-update, sbox-global/add-or-update, ithc-global/add-or-update, sbox-shutter/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update

#1270 add cft-api-mgmt ithc frontdoor
  environments/ithc/ithc.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, sbox-global/add-or-update, ithc-global/add-or-update, sbox-shutter/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update

#1271 removing et-sya on fd on ithc due to error
  environments/ithc/ithc.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, sbox-global/add-or-update, sbox-shutter/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update, ithc-global/destroy

#1273 Removes entry in LB for plum prod
  environments/prod/backend_lb_config.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, sbox-global/add-or-update, sbox-shutter/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update, prod-cftapps_private_dns/destroy

#1275 Added in em-ped-api
  environments/stg/backend_lb_config.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, stg-cftapps_private_dns/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update

#1276 ADD DNS for new config
  components/cftapps_cluster_lb_backend_arm_tf/dns.tf
  components/cftapps_cluster_lb_backend_arm_tf/provider.tf
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, sbox-global/add-or-update, sbox-shutter/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update

#1277 DNS zone_record_update
  components/cftapps_cluster_lb_backend_arm_tf/dns.tf
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, sbox-global/add-or-update, sbox-shutter/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update

#1279 PRod upgrade: Create a app gateway
  environments/prod/backend_lb_config_arm_to_tf.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, sbox-global/add-or-update, sbox-shutter/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update

#1280 Prod_upgrade Prod_upgrade_testing
  environments/prod/backend_lb_config_arm_to_tf.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, sbox-global/add-or-update, sbox-shutter/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update

#1278 Prod_upgrade :: frontend application switching
  environments/prod/prod.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-global/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update

#1281 Prod_upgrade:: backend application switching
  azure_pipeline.yaml
  environments/prod/backend_lb_config_arm_to_tf.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, sbox-global/add-or-update, sbox-shutter/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update, prod-cftapps_cluster_lb_backend_arm_tf/destroy

#1282 prod upgrade :: max limit on appgw
  environments/prod/backend_lb_config_arm_to_tf.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, sbox-global/add-or-update, sbox-shutter/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update

#1268 Ret 2081
  environments/prod/backend_lb_config.yaml
  environments/prod/prod.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-cftapps_private_dns/add-or-update, prod-global/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update

#1283 Update custom domain
  environments/prod/prod.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, test-frontendappgateway/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, prod-shutter/destroy, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-global/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update
