Repository hmcts/azure-platform-terraform, pull requests merged in 2022-12, with the labels that each got.

#1359 DTSPO-10835 - AzureRM v2.99 - FrontDoor
  components/global/main.tf
  components/global/provider.tf
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, prod-shutter/destroy, test-global/add-or-update, prod-global/add-or-update, stg-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, ithc-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update, demo-global/add-or-update, dev-global/add-or-update

#1365 DTSPO-10835 - AzureRM 3.34 Frontend AppGW
  components/frontendappgateway/main.tf
  components/frontendappgateway/provider.tf
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, prod-shutter/destroy, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1367 DTSPO-10835 - AzureRM 3.34 Backend AppGW
  components/backendappgateway/main.tf
  components/backendappgateway/provider.tf
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, prod-shutter/destroy, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1368 Revert "DTSPO-10835 - AzureRM 3.34 Backend AppGW"
  components/backendappgateway/main.tf
  components/backendappgateway/provider.tf
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, prod-shutter/destroy, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1369 DTSPO-10835 - AzureRM 3.34 Backend AppGW
  components/backendappgateway/main.tf
  components/backendappgateway/provider.tf
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, prod-shutter/destroy, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1370 DTSPO-10835 - AzureRM 3.34 Private DNS
  azure_pipeline.yaml
  components/cftapps_private_dns/provider.tf
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, prod-shutter/destroy, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1373 DTSPO-10835 - AzureRM 3.34 Compliance & Dynatrace
  components/compliance/.terraform-version
  components/compliance/main.tf
  components/compliance/provider.tf
  components/compliance/variables.tf
  components/dynatrace_activegate/provider.tf
  modules/standards/platform_initiative.tf
  modules/standards/tag_governance_policy.tf
  modules/standards/templates/resource_tag_policyRule.json.tmpl
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, prod-shutter/destroy, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1374 DTSPO-10835 - AzureRM 3.34 APIM
  azure_pipeline.yaml
  components/apim/init.tf
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, prod-shutter/destroy, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update, demo-apim/add-or-update, test-apim/add-or-update, ithc-apim/add-or-update, prod-apim/add-or-update, stg-apim/add-or-update

#1358 Update umask setting on Dynatrace Active Gates
  modules/dynatrace-activegate/cloudconfig-private.tpl
  modules/dynatrace-activegate/cloudconfig.tpl
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, sbox-apim/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, prod-shutter/destroy, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, ptl-dynatrace_activegate/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1375 DTSPO-10835 - AzureRM 3.34 APIM AppGW
  components/apim-appgw/init.tf
  components/apim-appgw/main.tf
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, prod-shutter/destroy, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, ptl-dynatrace_activegate/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1377 DTSPO-10835 - AzureRM 3.34 Shutter
  components/shutter/provider.tf
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, prod-shutter/destroy, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, ptl-dynatrace_activegate/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1380 README Custom Data Update
  README.md
  modules/dynatrace-activegate/vm.tf
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1382 DTSPO-10835 - Frontdoor Module
  components/global/main.tf
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1384 DTSPO-11720 Skip Prevent Parallel Runs when running terraform plans
  azure_pipeline.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1383 DTSPO-11720 Skip Prevent Parallel Runs when running terraform plans
  azure_pipeline-global.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1388 Added in em-icp to AAT frontdoor
  environments/stg/stg.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-apim-appgw/add-or-update, test-backendappgateway/add-or-update, ithc-backendappgateway/add-or-update, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, prod-cftapps_private_dns/add-or-update, test-cftapps_private_dns/add-or-update, stg-cftapps_private_dns/add-or-update, ithc-cftapps_private_dns/add-or-update, test-global/add-or-update, prod-global/add-or-update, stg-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-cftapps_private_dns/add-or-update, sbox-global/add-or-update, ptl-dynatrace_activegate/add-or-update, ithc-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update, demo-global/add-or-update, dev-global/add-or-update, sbox-apim/destroy, demo-apim/destroy, test-apim/destroy, ithc-apim/destroy, prod-apim/destroy, stg-apim/destroy

#1389 Added in product name for em-icp to fix broken build
  environments/stg/stg.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, test-global/add-or-update, prod-global/add-or-update, stg-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-cftapps_private_dns/add-or-update, sbox-global/add-or-update, ithc-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update, sbox-apim/destroy, demo-apim/destroy, test-apim/destroy, ithc-apim/destroy, prod-apim/destroy, stg-apim/destroy

#1381 DTSPO-11427 demo_upgrade
  environments/demo/demo.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1393 remove 00 app gw
  environments/stg/stg.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-cftapps_private_dns/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update, sbox-apim/destroy

#1394 Revert "DTSPO-11427 demo_upgrade"
  environments/demo/demo.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-cftapps_private_dns/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update, sbox-apim/destroy
