Repository hmcts/azure-platform-terraform, pull requests merged in 2022-11, with the labels that each got.

#1323 DTSPO-4685 Clean up
  azure_pipeline.yaml
  components/cftapps_cluster_lb/.terraform-version
  components/cftapps_cluster_lb/local.tf
  components/cftapps_cluster_lb/main.tf
  components/cftapps_cluster_lb/provider.tf
  components/cftapps_cluster_lb/variables.tf
  components/cftapps_cluster_lb_arm_tf/local.tf
  components/cftapps_cluster_lb_arm_tf/main.tf
  components/cftapps_cluster_lb_arm_tf/provider.tf
  components/cftapps_cluster_lb_arm_tf/variables.tf
  components/cftapps_cluster_lb_backend/.terraform-version
  components/cftapps_cluster_lb_backend/local.tf
  components/cftapps_cluster_lb_backend/main.tf
  components/cftapps_cluster_lb_backend/provider.tf
  components/cftapps_cluster_lb_backend/variables.tf
  components/cftapps_cluster_lb_backend_arm_tf/dns.tf
  components/cftapps_cluster_lb_backend_arm_tf/local.tf
  components/cftapps_cluster_lb_backend_arm_tf/main.tf
  components/cftapps_cluster_lb_backend_arm_tf/provider.tf
  components/cftapps_cluster_lb_backend_arm_tf/variables.tf
  environments/prod/backend_lb_config.yaml
  environments/prod/backend_lb_config_arm_to_tf.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-shutter/no-changes

#1325 Update backend_lb_config.yaml
  environments/demo/backend_lb_config.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-shutter/no-changes

#1327 update to locals for demo env for frontend / backend
  components/backendappgateway/local.tf
  components/frontendappgateway/local.tf
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-shutter/no-changes, demo-backendappgateway/destroy, demo-frontendappgateway/destroy

#1328 updated backend agw ips for demo backend agw
  environments/demo/demo.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1329 updated demo frontend agw ip
  environments/demo/demo.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1330 Update to use 01 cluster IP
  environments/demo/demo.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1333 Revert "DTSPO-4685 Clean up"
  azure_pipeline.yaml
  components/cftapps_cluster_lb/.terraform-version
  components/cftapps_cluster_lb/local.tf
  components/cftapps_cluster_lb/main.tf
  components/cftapps_cluster_lb/provider.tf
  components/cftapps_cluster_lb/variables.tf
  components/cftapps_cluster_lb_arm_tf/local.tf
  components/cftapps_cluster_lb_arm_tf/main.tf
  components/cftapps_cluster_lb_arm_tf/provider.tf
  components/cftapps_cluster_lb_arm_tf/variables.tf
  components/cftapps_cluster_lb_backend/.terraform-version
  components/cftapps_cluster_lb_backend/local.tf
  components/cftapps_cluster_lb_backend/main.tf
  components/cftapps_cluster_lb_backend/provider.tf
  components/cftapps_cluster_lb_backend/variables.tf
  components/cftapps_cluster_lb_backend_arm_tf/dns.tf
  components/cftapps_cluster_lb_backend_arm_tf/local.tf
  components/cftapps_cluster_lb_backend_arm_tf/main.tf
  components/cftapps_cluster_lb_backend_arm_tf/provider.tf
  components/cftapps_cluster_lb_backend_arm_tf/variables.tf
  environments/prod/backend_lb_config.yaml
  environments/prod/backend_lb_config_arm_to_tf.yaml
Labels: demo-global/no-changes, dev-global/no-changes, sbox-global/add-or-update

#1332 Update demo.tfvars
  azure_pipeline.yaml
  components/cftapps_cluster_lb/.terraform-version
  components/cftapps_cluster_lb/local.tf
  components/cftapps_cluster_lb/main.tf
  components/cftapps_cluster_lb/provider.tf
  components/cftapps_cluster_lb/variables.tf
  components/cftapps_cluster_lb_arm_tf/local.tf
  components/cftapps_cluster_lb_arm_tf/main.tf
  components/cftapps_cluster_lb_arm_tf/provider.tf
  components/cftapps_cluster_lb_arm_tf/variables.tf
  components/cftapps_cluster_lb_backend/.terraform-version
  components/cftapps_cluster_lb_backend/local.tf
  components/cftapps_cluster_lb_backend/main.tf
  components/cftapps_cluster_lb_backend/provider.tf
  components/cftapps_cluster_lb_backend/variables.tf
  components/cftapps_cluster_lb_backend_arm_tf/dns.tf
  components/cftapps_cluster_lb_backend_arm_tf/local.tf
  components/cftapps_cluster_lb_backend_arm_tf/main.tf
  components/cftapps_cluster_lb_backend_arm_tf/provider.tf
  components/cftapps_cluster_lb_backend_arm_tf/variables.tf
  environments/demo/demo.tfvars
  environments/prod/backend_lb_config.yaml
  environments/prod/backend_lb_config_arm_to_tf.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-shutter/no-changes

#1334 SSCS-10958 : Added SSCS hearings API to LB prod
  environments/prod/backend_lb_config_arm_to_tf.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-shutter/no-changes

#1335 Dtspo 4686 demo add new agw
  azure_pipeline.yaml
  environments/demo/demo.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1339 add prod private dns stage
  azure_pipeline.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-cftapps_private_dns/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-shutter/no-changes

#1340 Added Fees-Register cookie to aat exclusion list
  environments/stg/stg.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, prod-cftapps_private_dns/add-or-update, stg-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1341 DTSPO-4885 PRD: remove old Appgw
  azure_pipeline.yaml
Labels: DO-NOT-MERGE, sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-cftapps_private_dns/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-cftapps_cluster_lb_arm_tf/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1342 Remove old stages
  azure_pipeline.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update, demo-apim/add-or-update

#1343 Update backend_lb_config.yaml
  environments/ithc/backend_lb_config.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, ithc-cftapps_private_dns/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update, demo-apim/add-or-update

#1345 DTSPO4686 - DEMO AGW Switchover - Update Private DNS
  environments/demo/backend_lb_config.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update, demo-apim/add-or-update

#1352 PCQ-1597 Match PCQ AAT rules with Production
  environments/stg/stg.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-cftapps_private_dns/add-or-update, stg-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update, demo-apim/add-or-update

#1357 DTSPO-10835 - Add pipeline tests to prod global
  azure_pipeline-global.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, test-backendappgateway/add-or-update, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, prod-global/no-changes, stg-cftapps_private_dns/add-or-update, test-global/add-or-update, stg-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/destroy, ithc-global/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update, demo-apim/add-or-update
