Repository hmcts/azure-platform-terraform, pull requests merged in 2022-07, with the labels that each got.

#1206 Terraform fmt and auto updates PR if terraform fmt error found
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Labels: do not merge

#1212 Take out ithc-01 from app gw
  environments/ithc/ithc.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, test-cftapps_cluster_lb_backend/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes

#1213 Update ithc.tfvars
  environments/ithc/ithc.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, test-cftapps_cluster_lb_backend/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, prod-shutter/destroy, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes

#1215 Remove 00 from appgw
  environments/ithc/ithc.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, test-cftapps_cluster_lb_backend/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes

#1219 Revert "Remove 00 from appgw"
  environments/ithc/ithc.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, test-cftapps_cluster_lb_backend/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes
