Repository hmcts/azure-platform-terraform, pull requests merged in 2022-08, with the labels that each got.

#1220 Add Translation Service LB config to all envs
  environments/demo/backend_lb_config.yaml
  environments/ithc/backend_lb_config.yaml
  environments/prod/backend_lb_config.yaml
  environments/stg/backend_lb_config.yaml
  environments/test/backend_lb_config.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, test-cftapps_cluster_lb_backend/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, test-frontendappgateway/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, prod-shutter/destroy, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-cftapps_private_dns/add-or-update, test-cftapps_private_dns/add-or-update, stg-cftapps_private_dns/add-or-update, ithc-cftapps_private_dns/add-or-update

#1221 Updates to include bails in prod LB
  .pre-commit-config.yaml
  README.md
  environments/prod/backend_lb_config.yaml
  environments/test/backend_lb_config.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, test-cftapps_cluster_lb_backend/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-cftapps_private_dns/add-or-update

#1223 new cookie in paybubble
  environments/test/test.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, test-cftapps_cluster_lb_backend/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, prod-shutter/destroy, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, stg-global/no-changes, test-global/add-or-update

#1226 new cookie in paybubble
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, test-cftapps_cluster_lb_backend/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, prod-global/add-or-update, stg-global/add-or-update

#1227 Update backend_lb_config.yaml for fis backend services
  environments/demo/backend_lb_config.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, test-cftapps_cluster_lb_backend/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, prod-global/add-or-update, stg-global/add-or-update

#1224 Remove perftest-01 from AppGw
  environments/test/test.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, test-cftapps_cluster_lb_backend/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, prod-shutter/destroy, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes

#1229 Revert "Remove perftest-01 from AppGw"
  environments/test/test.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, test-cftapps_cluster_lb_backend/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes

#1225 Removes perftest cluster 00 from AppGw
  environments/test/test.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, test-cftapps_cluster_lb_backend/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, prod-shutter/destroy, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes

#1230 Revert "Removes perftest cluster 00 from AppGw"
  environments/test/test.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, test-cftapps_cluster_lb_backend/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes

#1232 Add idam-testing-support-api to Perftest/Demo/ITHC backend gateways
  environments/demo/backend_lb_config.yaml
  environments/ithc/backend_lb_config.yaml
  environments/test/backend_lb_config.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, test-cftapps_cluster_lb_backend/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, test-cftapps_private_dns/add-or-update, ithc-cftapps_private_dns/add-or-update

#1235 add backend appgw private ip address for ithc new appgw1
  environments/ithc/ithc.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, test-cftapps_cluster_lb_backend/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes

#1237 Remove 01 cluster from appgw
  environments/stg/stg.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, test-cftapps_cluster_lb_backend/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes

#1239 Update backend_lb_config.yaml
  environments/demo/backend_lb_config.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, test-cftapps_cluster_lb_backend/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes

#1240 Adds plum to backend lb config
  environments/stg/backend_lb_config.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, test-cftapps_cluster_lb_backend/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, stg-cftapps_private_dns/add-or-update

#1231 DTSPO-9055 - Add pipeline tests
  azure_pipeline-global.yaml
  azure_pipeline.yaml
  scripts/.gitignore
  scripts/apim.test.ts
  scripts/babel.config.js
  scripts/jest.config.ts
  scripts/package.json
  scripts/pipeline.test.ts
  scripts/yarn.lock
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, test-cftapps_cluster_lb_backend/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, stg-cftapps_private_dns/add-or-update

#1186 Removes pipelone steps for old perftest AppGw
  azure_pipeline.yaml
Labels: DO-NOT-MERGE, sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, stg-cftapps_private_dns/add-or-update

#1243 Add 01 to appgw and remove 00
  environments/stg/stg.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, test-cftapps_cluster_lb_backend/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, stg-cftapps_private_dns/add-or-update

#1247 Add 00 cluster back to appgw
  environments/stg/stg.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes

#1252 Removing for AKS node restarts
  environments/prod/prod.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, prod-shutter/destroy, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, stg-global/no-changes, test-global/add-or-update, sbox-shutter/destroy

#1253 Revert "Removing for AKS node restarts"
  environments/prod/prod.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, stg-global/no-changes, test-global/add-or-update, ptl-dynatrace_activegate/add-or-update

#1254 Remove 01 for restart
  environments/prod/prod.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes

#1255 Revert "Remove 01 for restart"
  environments/prod/prod.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, sbox-apim/no-changes, prod-cftapps_cluster_lb_backend/add-or-update, test-backendappgateway/add-or-update, demo-cftapps_cluster_lb_backend/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, stg-cftapps_cluster_lb_backend/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, prod-cftapps_cluster_lb/add-or-update, test-apim/no-changes, stg-cftapps_cluster_lb/add-or-update, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes
