Repository hmcts/azure-platform-terraform, pull requests merged in 2023-03, with the labels that each got.

#1436 add fact aat global exclusions
  environments/stg/stg.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, ithc-cftapps_private_dns/add-or-update, prod-global/add-or-update, stg-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1437 update fact aat global exclusions
  environments/stg/stg.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, ithc-cftapps_private_dns/add-or-update, prod-global/add-or-update, stg-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1439 switch fact prod to prevention mode
  environments/prod/prod.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, ithc-cftapps_private_dns/add-or-update, prod-global/add-or-update, stg-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1440 Add second demo cluster, plum backend
  environments/demo/backend_lb_config.yaml
  environments/demo/demo.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, ithc-cftapps_private_dns/add-or-update, prod-global/add-or-update, stg-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1443 adding-golden-path-fd
  environments/sbox/sbox.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, ithc-cftapps_private_dns/add-or-update, prod-global/add-or-update, stg-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1444 GP test lab
  environments/sbox/sbox.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, ithc-cftapps_private_dns/add-or-update, prod-global/add-or-update, stg-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1446 Update sbox.tfvars
  environments/sbox/sbox.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, ithc-cftapps_private_dns/add-or-update, prod-global/add-or-update, stg-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1447 Tyler-goldenpath-cleardown
  environments/sbox/sbox.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, ithc-cftapps_private_dns/add-or-update, prod-global/add-or-update, stg-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-shutter/destroy, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update, sbox-global/destroy

#1448 update-name
  environments/sbox/sbox.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, ithc-cftapps_private_dns/add-or-update, prod-global/add-or-update, stg-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-shutter/destroy, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update, sbox-global/destroy

#1449 add cpo-update-service to lb_config
  environments/stg/backend_lb_config.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, stg-cftapps_private_dns/add-or-update, ithc-cftapps_private_dns/add-or-update, prod-global/add-or-update, stg-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/destroy, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1451 add new pip to idam-admin-dashboard
  environments/prod/prod.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, ithc-backendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, prod-global/add-or-update, stg-global/add-or-update, prod-backendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-backendappgateway/add-or-update

#1454 Dtspo-12074 update pipelinetest condition
  azure_pipeline.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, ithc-cftapps_private_dns/add-or-update, prod-global/add-or-update, stg-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1455 Dtspo 12074. update pipelinetest
  azure_pipeline-global.yaml
  azure_pipeline.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, ithc-cftapps_private_dns/add-or-update, prod-global/add-or-update, stg-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1450 add fis-ds-update-web application copy
  environments/stg/stg.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, ithc-cftapps_private_dns/add-or-update, prod-global/add-or-update, stg-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1456 Remove RUM custom rule transformations
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, ithc-cftapps_private_dns/add-or-update, stg-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1452 Add plum as front door entry
  environments/demo/demo.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, ithc-cftapps_private_dns/add-or-update, stg-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update, demo-global/add-or-update

#1457 ST-1027 Add sptribs-case-api to perftest env
  environments/test/backend_lb_config.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, test-cftapps_private_dns/add-or-update, stg-global/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, sbox-apim/add-or-update, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes

#1462 ISDB-658 DSS Update case for All non prod environments
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, dev-global/no-changes, prod-global/no-changes, test-global/add-or-update, stg-global/add-or-update, sbox-global/add-or-update, ithc-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-global/add-or-update, sbox-apim-appgw/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes

#1463 Removed redundant em entries for AAT
  environments/stg/backend_lb_config.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, dev-global/no-changes, prod-global/no-changes, test-global/add-or-update, stg-global/add-or-update, sbox-global/add-or-update, stg-cftapps_private_dns/destroy, ithc-global/add-or-update, sbox-shutter/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-global/add-or-update, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes

#1468 Update stg.tfvars
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, dev-global/no-changes, prod-global/no-changes, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, ithc-global/destroy, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, demo-global/destroy, test-global/destroy, stg-global/destroy

#1469 Remove majority to test pipeline timeout
  environments/demo/demo.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, dev-global/no-changes, prod-global/no-changes, sbox-global/add-or-update, sbox-shutter/add-or-update, ithc-global/destroy, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, demo-global/destroy, test-global/destroy, stg-global/destroy

#1473 Revert "Remove majority to test pipeline timeout"
  environments/demo/demo.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, dev-global/no-changes, prod-global/no-changes, sbox-global/add-or-update, ithc-global/add-or-update, sbox-shutter/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-global/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, test-global/destroy, stg-global/destroy

#1475 HMIS-1142 - HMI Demo environment setup
  environments/demo/demo.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, dev-global/no-changes, prod-global/no-changes, sbox-global/add-or-update, ithc-global/add-or-update, sbox-shutter/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-global/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, test-global/destroy, stg-global/destroy

#1474 Revert "Revert "Remove majority to test pipeline timeout""
  environments/demo/demo.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, dev-global/no-changes, prod-global/no-changes, sbox-global/add-or-update, ithc-global/add-or-update, sbox-shutter/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, demo-global/destroy, test-global/destroy, stg-global/destroy

#1479 Re-add dss-update-case
  environments/demo/demo.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, dev-global/no-changes, prod-global/no-changes, sbox-global/add-or-update, ithc-global/add-or-update, sbox-shutter/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-global/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, test-global/destroy, stg-global/destroy

#1481 DTSPO-11734 - renovate - set schedule
  .github/renovate.json
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, demo-global/no-changes, dev-global/no-changes, prod-global/no-changes, sbox-global/add-or-update, ithc-global/add-or-update, sbox-shutter/add-or-update, prod-shutter/no-changes, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, test-global/destroy, stg-global/destroy

#1483 Update to correct backend for dss
  azure_pipeline.yaml
  environments/demo/demo.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, dev-global/no-changes, prod-global/no-changes, sbox-global/add-or-update, ithc-global/add-or-update, sbox-shutter/add-or-update, prod-shutter/no-changes, demo-global/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, test-global/destroy, stg-global/destroy

#1485 Add hmi api demo
  environments/demo/demo.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, dev-global/no-changes, prod-global/no-changes, sbox-global/add-or-update, ithc-global/add-or-update, sbox-shutter/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-global/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, test-global/destroy, stg-global/destroy

#1478 Update stg.tfvars
  environments/stg/stg.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, demo-global/no-changes, dev-global/no-changes, prod-global/no-changes, sbox-global/add-or-update, ithc-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, prod-shutter/no-changes, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, test-global/destroy, stg-global/destroy

#1486 Add first batch of fe apps to demo
  environments/demo/demo.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, dev-global/no-changes, prod-global/no-changes, sbox-global/add-or-update, ithc-global/add-or-update, sbox-shutter/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-global/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, test-global/destroy, stg-global/destroy

#1487 HMIS-1142 - backend_doman change
  environments/demo/demo.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, dev-global/no-changes, prod-global/no-changes, stg-global/no-changes, sbox-global/add-or-update, ithc-global/add-or-update, sbox-shutter/add-or-update, prod-shutter/no-changes, demo-global/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, test-global/destroy

#1488 Updated application name
  environments/ithc/ithc.tfvars
  environments/test/test.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-global/no-changes, dev-global/no-changes, prod-global/no-changes, stg-global/no-changes, sbox-global/add-or-update, sbox-shutter/add-or-update, ithc-global/destroy, prod-shutter/no-changes, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, test-global/destroy

#1490 Add second batch of demo apps
  environments/demo/demo.tfvars
Labels: sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, sbox-global/no-changes, dev-global/no-changes, prod-global/no-changes, stg-frontendappgateway/add-or-update, ithc-global/destroy, sbox-apim/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-global/add-or-update, sbox-apim-appgw/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, test-global/destroy, stg-global/destroy, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1498 Add third batch demo apps
  environments/demo/demo.tfvars
Labels: sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, sbox-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-global/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1500 Add remaining idam apps
  environments/demo/demo.tfvars
Labels: sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, sbox-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-global/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1501 Update stg.tfvars
  environments/demo/demo.tfvars
  environments/stg/stg.tfvars
Labels: sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, sbox-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/add-or-update, prod-shutter/no-changes, demo-global/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1465 Add apps
  environments/demo/backend_lb_config.yaml
Labels: sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, demo-cftapps_private_dns/add-or-update, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-shutter/no-changes, demo-backendappgateway/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1504 Add fifth batch demo apps to migrate
  environments/demo/demo.tfvars
Labels: sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, sbox-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-global/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1505 Add remaining xui fe apps to demo
  environments/demo/demo.tfvars
Labels: sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, sbox-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-global/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1508 Add latest VPN IP to User Dashboard's IP whitelist in aat
  environments/stg/stg.tfvars
Labels: sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/add-or-update, sbox-global/add-or-update, prod-shutter/no-changes, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1510 DTSPO-11734 - renovate - use global presets
  .github/renovate.json
Labels: sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, demo-global/no-changes, dev-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/add-or-update, sbox-global/add-or-update, ithc-global/add-or-update, prod-shutter/no-changes, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes, chore

#1517 Update backend_lb_config.yaml
  environments/demo/backend_lb_config.yaml
Labels: sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, sbox-global/add-or-update, prod-shutter/no-changes, demo-backendappgateway/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, sbox-backendappgateway/no-changes
