Repository hmcts/azure-platform-terraform, pull requests merged in 2023-02, with the labels that each got.

#1423 remove prod01 appgw from rotation
  environments/prod/prod.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, sbox-global/add-or-update, sbox-shutter/add-or-update, sbox-apim/add-or-update

#1424 bring back 01
  environments/prod/prod.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1425 Update prod.tfvars
  environments/prod/prod.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1426 add back in 00
  environments/prod/prod.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1427 Revert em-ccd-orchestrator change
  environments/ithc/backend_lb_config.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update, ithc-cftapps_private_dns/destroy

#1428 SIDM-8464 Exclude post body scope attribute
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/sbox/sbox.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-cftapps_private_dns/add-or-update, test-global/add-or-update, prod-global/add-or-update, stg-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, ithc-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1429 Revert em-ccd-orchestrator change on Demo
  environments/demo/backend_lb_config.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, prod-shutter/destroy, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, ithc-cftapps_private_dns/add-or-update, prod-global/add-or-update, stg-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-cftapps_private_dns/destroy, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1434 switch fact aat to prevention mode
  environments/stg/stg.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, ithc-cftapps_private_dns/add-or-update, prod-global/add-or-update, stg-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1432 whitelist changes
  README.md
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/sbox/sbox.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, prod-shutter/destroy, demo-global/no-changes, dev-global/no-changes, ithc-cftapps_private_dns/add-or-update, test-global/add-or-update, prod-global/add-or-update, stg-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, ithc-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1435 Removing-palo-vm1-ip-ukw-sbox
  environments/sbox/sbox.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, ithc-cftapps_private_dns/add-or-update, prod-global/add-or-update, stg-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update
