Repository hmcts/azure-platform-terraform, pull requests merged in 2023-10, with the labels that each got.

#1772 adding test APEX frontend
  environments/sbox/sbox.tfvars
Labels: sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/add-or-update, sbox_global/add-or-update, ithc_global/add-or-update, prod_shutter_webapp/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes

#1773 testing with fd domain
  environments/sbox/sbox.tfvars
Labels: sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_global/add-or-update, ithc_global/add-or-update, sbox_shutter_webapp/destroy, prod_shutter_webapp/no-changes, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes

#1765 Set app gateway rewrite rules from config
  components/apim-appgw/main.tf
  environments/test/apim_appgw_config.yaml
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/add-or-update, sbox_global/add-or-update, ithc_global/add-or-update, prod_shutter_webapp/no-changes, test_apim_appgw/add-or-update

#1774 updated custom domain
  environments/sbox/sbox.tfvars
Labels: sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_global/add-or-update, ithc_global/add-or-update, sbox_shutter_webapp/destroy, prod_shutter_webapp/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/add-or-update

#1777 turning off sbox global while finishing with impor
  azure_pipeline.yaml
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, sbox_apim/add-or-update, ptl_dynatrace_activegate/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_shutter_webapp/add-or-update, test_apim_appgw/add-or-update

#1778 Corrected server variable name in perftest appgw config
  environments/test/apim_appgw_config.yaml
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, sbox_apim/add-or-update, ptl_dynatrace_activegate/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_shutter_webapp/no-changes, test_apim_appgw/add-or-update

#1776 DTSPO-13994 Upgrade Sandbox frontdoor from classic to premium
  .terraform-version
  azure_pipeline.yaml
  components/global/main.tf
  environments/sbox/sbox.tfvars
  environments/variables.tf
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, test_apim_appgw/add-or-update, dev_global/add-or-update

#1779 Corrected server variable name in perftest appgw config
  environments/test/apim_appgw_config.yaml
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, sbox_apim/add-or-update, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, test_apim_appgw/add-or-update, dev_global/add-or-update

#1780 DTSPO-15146 turn off demo_global stage
  azure_pipeline.yaml
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_shutter_webapp/no-changes, test_apim_appgw/no-changes

#1781 remove-cluster-from-appgw-for-upgrade
  environments/demo/demo.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_shutter_webapp/no-changes, demo_backendappgateway/add-or-update, demo_frontendappgateway/add-or-update, test_apim_appgw/no-changes

#1782 Update perftest appgw config
  environments/test/apim_appgw_config.yaml
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, sbox_apim/add-or-update, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_shutter_webapp/no-changes, test_apim_appgw/add-or-update

#1784 re-add-appgw
  environments/demo/demo.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, sbox_global/add-or-update, prod_shutter_webapp/no-changes, demo_backendappgateway/add-or-update, demo_frontendappgateway/add-or-update, test_apim_appgw/no-changes

#1786 remove-appgw-for-cluster-upgrade
  environments/demo/demo.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_shutter_webapp/no-changes, demo_backendappgateway/add-or-update, demo_frontendappgateway/add-or-update, test_apim_appgw/no-changes

#1787 Dtspo 14198 demo 01 upgrade
  environments/demo/demo.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, sbox_global/add-or-update, prod_shutter_webapp/no-changes, demo_backendappgateway/add-or-update, demo_frontendappgateway/add-or-update, test_apim_appgw/no-changes

#1788 Add diagnostics storage account
  components/global/diagnostics.tf
  components/global/provider.tf
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, prod_shutter_webapp/no-changes, test_apim_appgw/no-changes, dev_global/add-or-update

#1791 remove-appgw-for-cluster-upgrade
  environments/stg/stg.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, prod_shutter_webapp/no-changes, stg_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update

#1792 remove app gw for cft ith 00 to upgrade
  environments/ithc/ithc.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, prod_shutter_webapp/no-changes, sbox_global/destroy, test_apim_appgw/no-changes, dev_global/add-or-update

#1793 Send App gateway logs to storage account
  components/backendappgateway/diagnostics.tf
  components/backendappgateway/main.tf
  components/frontendappgateway/diagnostics.tf
  components/frontendappgateway/main.tf
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, prod_shutter_webapp/no-changes, sbox_global/destroy, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_backendappgateway/destroy, sbox_frontendappgateway/destroy, test_frontendappgateway/destroy, stg_frontendappgateway/destroy, prod_frontendappgateway/destroy, ithc_frontendappgateway/destroy, stg_backendappgateway/destroy, prod_backendappgateway/destroy, test_backendappgateway/destroy, ithc_backendappgateway/destroy

#1794 re-add-appgw-cluster-upgrade
  environments/stg/stg.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, prod_shutter_webapp/no-changes, stg_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update

#1796 DTSPO-15146 - upgrade demo frontdoor to premium
  azure_pipeline.yaml
  environments/demo/demo.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, prod_shutter_webapp/no-changes, stg_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update

#1800 remove-appgw-cluster-upgrade
  environments/stg/stg.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/no-changes, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes

#1802 Dtspo 14199 cluster ugr
  environments/stg/stg.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/no-changes, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update

#1803 DTSPO-15146 upgraded ithc frontdoor to premium
  azure_pipeline.yaml
  environments/ithc/ithc.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/no-changes, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update

#1804 DTSPO-15146 - upgraded perftest to premium
  azure_pipeline.yaml
  environments/test/test.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/no-changes, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update

#1806 DTSPO-15146 - fix the backend issue with nfdiv
  environments/test/test.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/no-changes, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, perftest_global/destroy, dev_global/add-or-update

#1807 re-adding app gw for cft-ithc 00 cluster
  environments/ithc/ithc.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update

#1809 re-move app gw for cft-ithc 01 cluster
  environments/ithc/ithc.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/no-changes, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update

#1810 DTSPO-14196: Remove appgw cluster
  environments/test/test.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update

#1812 Updating waf filter for hwf staff
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update

#1811 Update App Gateway module source branch name
  components/apim-appgw/main.tf
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/no-changes, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update

#1813 DTSPO-14196: Remove cluster
  environments/test/test.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/no-changes, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update

#1814 adding app gw back for cft-ithc 01
  environments/ithc/ithc.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/no-changes, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update

#1815 DTSPO-14196: Remove IP for 01
  environments/test/test.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/no-changes, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update

#1816 switching off AAT frontdoor for migration
  azure_pipeline.yaml
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update

#1817 DTSPO-15147 upgraded AAT frontdoor to premium
  azure_pipeline.yaml
  environments/stg/stg.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/no-changes, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update

#1819 Revert "DTSPO-14196: Remove IP for 01"
  environments/test/test.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update

#1823 Explicitly disable caching on AAT to match production
  environments/stg/stg.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/no-changes, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update

#1826 remove-appgw-00
  environments/prod/prod.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/no-changes, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update

#1827 Revert "remove-appgw-00"
  environments/prod/prod.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/no-changes, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update

#1828 Dtspo 14195 cft 01 cluster upgrade
  environments/prod/prod.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/no-changes, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update

#1830 Revert "Dtspo 14195 cft 01 cluster upgrade"
  environments/prod/prod.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/no-changes, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update

#1832 HwF waf filter password confirmation
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update

#1834 DTSPO-15318: Add redirect sds sbox jenkins
  environments/prod/prod.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/no-changes, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update

#1835 Revert "DTSPO-15318: Add redirect sds sbox jenkins"
  environments/prod/prod.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, prod_global/destroy, dev_global/add-or-update

#1821 Adoption DNS-Creation-added entry for adoption public beta release
  environments/prod/prod.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update

#1836 NFDIV-3768: Add nfdiv demo config
  environments/demo/demo.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/no-changes, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update

#1837 Added et-pet to ithc
  environments/ithc/ithc.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update

#1840 Bug fix - incorrect backend for palo for et-pet
  environments/ithc/ithc.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update

#1841 DTSPO-15318: Add front door redirects for CFT PTL jenkins
  environments/prod/prod.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim/destroy, test_apim_appgw/no-changes, dev_global/add-or-update

#1842 Remove front door entry for non-live child-adoption
  environments/prod/prod.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, demo_global/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, prod_shutter_webapp/destroy, test_apim_appgw/no-changes, prod_global/destroy, dev_global/add-or-update

#1845 Adding frontend record for goldenpath frontdoor setup - mfox
  environments/sbox/sbox.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update

#1844 Adding new domain for ocmc
  environments/demo/demo.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, demo_global/destroy, dev_global/add-or-update

#1848 Adding CUI and OCMC entries
  environments/demo/demo.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, demo_global/destroy, dev_global/add-or-update

#1851 Update prod.tfvars
  environments/prod/prod.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update

#1852 testing app removal from migrated frontdoors
  environments/sbox/sbox.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, sbox_shutter_webapp/destroy, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, sbox_global/destroy, test_apim_appgw/no-changes, dev_global/add-or-update

#1856 DTSPO-15542 Add beta VPN to allowlists
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
Labels: sbox_apim/destroy, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_private_dns/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/add-or-update, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, ithc_private_dns/add-or-update, stg_private_dns/add-or-update, demo_private_dns/add-or-update, test_cftapps_private_dns/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, sbox_apim_appgw/add-or-update, prod_private_dns/add-or-update, test_apim_appgw/add-or-update, ithc_apim/destroy, demo_apim/destroy, test_apim/destroy, dev_global/add-or-update, ptl_dynatrace_activegate/add-or-update, stg_apim/destroy, prod_apim/destroy

#1850 Removing infrastructure from labs build
  environments/sbox/sbox.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, sbox_apim/destroy, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/add-or-update, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, sbox_global/destroy, ithc_apim/destroy, demo_apim/destroy, test_apim/destroy, test_apim_appgw/no-changes, dev_global/add-or-update, stg_apim/destroy, prod_apim/destroy

#1859 Test app deletion
  environments/stg/stg.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, sbox_apim/add-or-update, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/add-or-update, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, perftest_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, sbox_global/destroy, ithc_apim/destroy, demo_apim/destroy, test_apim/destroy, test_apim_appgw/no-changes, aat_global/destroy, dev_global/add-or-update, stg_apim/destroy, prod_apim/destroy

#1857 Add FD redirect for netbox sbox, sandbox.platform.hmcts.net to app proxy address
  environments/sbox/sbox.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/no-changes, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes
