Repository hmcts/azure-platform-terraform, pull requests merged in 2023-04, with the labels that each got.

#1519 Add init.tf files to ignore list CODEOWNERS
  .github/CODEOWNERS
Labels: sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, prod-shutter/destroy, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, sbox-global/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-backendappgateway/no-changes

#1520 DTSPO-11734 - renovate - add schema
  .github/renovate.json
Labels: sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, prod-shutter/destroy, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, sbox-global/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-backendappgateway/no-changes, chore

#1397 Private law Azure front door
  environments/prod/prod.tfvars
Labels: sbox-frontendappgateway/add-or-update, sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, prod-shutter/destroy, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-global/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-backendappgateway/no-changes

#1526 DTSPO-12511 - Update safe settings health path
  environments/sbox/sbox.tfvars
Labels: sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-global/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1529 add notifications service
  environments/prod/backend_lb_config.yaml
Labels: sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-cftapps_private_dns/add-or-update, prod-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-shutter/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1531 plum fixed enable tests
  azure_pipeline.yaml
Labels: sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-global/add-or-update, prod-frontendappgateway/add-or-update, sbox-shutter/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1534 fix c100
  environments/prod/prod.tfvars
Labels: sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-global/add-or-update, prod-frontendappgateway/add-or-update, sbox-shutter/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1535 Update test.tfvars
  environments/test/test.tfvars
Labels: sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, stg-global/no-changes, test-global/add-or-update, sbox-shutter/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1539 Add SDT apps to demo
  environments/demo/backend_lb_config.yaml
Labels: sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, demo-cftapps_private_dns/add-or-update, prod-shutter/destroy, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, sbox-shutter/add-or-update, demo-backendappgateway/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1541 DFR-1997: decommission-notification-serivce
  environments/demo/backend_lb_config.yaml
  environments/ithc/backend_lb_config.yaml
  environments/prod/backend_lb_config.yaml
  environments/stg/backend_lb_config.yaml
  environments/test/backend_lb_config.yaml
Labels: sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, ithc-backendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, prod-shutter/destroy, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, stg-cftapps_private_dns/destroy, sbox-shutter/add-or-update, stg-backendappgateway/add-or-update, prod-cftapps_private_dns/destroy, demo-cftapps_private_dns/destroy, demo-backendappgateway/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, ithc-cftapps_private_dns/destroy, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, test-cftapps_private_dns/destroy, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes
