Repository hmcts/azure-platform-terraform, pull requests merged in 2023-01, with the labels that each got.

#1392 DTSPO-11790 - add expiresAfter tag
  components/apim-appgw/main.tf
  components/apim/main.tf
  components/backendappgateway/main.tf
  components/dynatrace_activegate/nonprod.tf
  components/frontendappgateway/main.tf
  components/global/main.tf
  components/shutter/module_shutter.tf
  environments/variables.tf
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-cftapps_private_dns/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update, sbox-apim/destroy

#1396 SIDM-8209 - Allow user-dashboard in prod to be reachable from non-prod
  environments/prod/prod.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1401 remove 00 appgw from rotation
  environments/prod/prod.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1402 add 00 back in
  environments/prod/prod.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1403 remove 01 appgw
  environments/prod/prod.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1404 add back in 01 appgw
  environments/prod/prod.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1405 add labs-jasonpaige
  environments/sbox/backend_lb_config.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-cftapps_private_dns/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1408 Adding new golden path apps to sbox
  environments/sbox/backend_lb_config.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-cftapps_private_dns/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1409 Clean up labs-jasonpaige
  environments/sbox/backend_lb_config.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, prod-shutter/no-changes, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update, sbox-cftapps_private_dns/destroy

#1411 Prod config for dtsse-ardoq-adapter
  environments/prod/prod.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1412 adding rpts to demo and perftest
  environments/demo/backend_lb_config.yaml
  environments/test/backend_lb_config.yaml
  environments/test/test.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, stg-global/no-changes, test-cftapps_private_dns/add-or-update, test-global/add-or-update, prod-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1415 Adds missing dtsse-ardoq-adapter lb config
  environments/prod/backend_lb_config.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-cftapps_private_dns/add-or-update, prod-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1416 Exclude POSTs for DTSSE
  environments/prod/prod.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1417 fis Incl for all the environments
  environments/ithc/backend_lb_config.yaml
  environments/prod/backend_lb_config.yaml
  environments/test/backend_lb_config.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-cftapps_private_dns/add-or-update, test-cftapps_private_dns/add-or-update, ithc-cftapps_private_dns/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1418 Update backend_lb_config.yaml
  environments/sbox/backend_lb_config.yaml
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-cftapps_private_dns/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1419 Disable SQLI-942390 for CCD GW
  environments/prod/prod.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/add-or-update, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update

#1421 plum-public.demo app gateway frontend
  environments/demo/demo.tfvars
Labels: sbox-backendappgateway/add-or-update, sbox-frontendappgateway/add-or-update, sbox-cftapps_private_dns/no-changes, sbox-apim-appgw/add-or-update, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, demo-cftapps_private_dns/add-or-update, prod-shutter/destroy, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-global/add-or-update, sbox-shutter/destroy, stg-frontendappgateway/add-or-update, stg-backendappgateway/add-or-update, sbox-apim/add-or-update, demo-frontendappgateway/add-or-update, demo-backendappgateway/add-or-update, demo-global/add-or-update
