Repository hmcts/azure-platform-terraform, pull requests merged in 2023-05, with the labels that each got.

#1546 PCQ: Exclude return url
  environments/prod/prod.tfvars
Labels: sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, prod-shutter/destroy, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-global/add-or-update, sbox-shutter/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1548 DTSPO-13281: Adding Prisma vpn public ip to list for vpn access to resources
  environments/sbox/sbox.tfvars
Labels: sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, prod-shutter/destroy, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, sbox-global/add-or-update, sbox-shutter/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1550 DTSPO-13281: prisma vpn exclusion
  environments/sbox/sbox.tfvars
Labels: sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, prod-shutter/destroy, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, sbox-global/add-or-update, sbox-shutter/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1552 removed routetable which was not in use
  components/apim-appgw/.terraform-version
  components/apim-appgw/.terraform.lock.hcl
  components/apim-appgw/init.tf
  components/apim-appgw/local.tf
  components/apim-appgw/main.tf
Labels: sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, prod-shutter/destroy, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, sbox-apim-appgw/destroy, sbox-shutter/add-or-update, sbox-apim/destroy, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1555 sptribs_frontend has been implemented
  environments/demo/backend_lb_config.yaml
  environments/ithc/backend_lb_config.yaml
  environments/prod/backend_lb_config.yaml
  environments/stg/backend_lb_config.yaml
  environments/test/backend_lb_config.yaml
Labels: sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, ithc-backendappgateway/add-or-update, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-cftapps_private_dns/add-or-update, test-cftapps_private_dns/add-or-update, prod-backendappgateway/add-or-update, stg-cftapps_private_dns/destroy, stg-backendappgateway/add-or-update, prod-shutter/no-changes, demo-cftapps_private_dns/destroy, demo-backendappgateway/add-or-update, sbox-apim/destroy, demo-apim/destroy, test-apim/destroy, ithc-apim/destroy, prod-apim/destroy, stg-apim/destroy, sbox-apim-appgw/no-changes, ithc-cftapps_private_dns/destroy, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1557 commented staging and production apim update
  azure_pipeline.yaml
Labels: sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, sbox-apim-appgw/destroy, prod-shutter/no-changes, sbox-apim/destroy, demo-apim/destroy, test-apim/destroy, ithc-apim/destroy, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1558 sptribs-frontend / ithc.tfvars
  environments/ithc/ithc.tfvars
Labels: sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, demo-apim/no-changes, ithc-frontendappgateway/add-or-update, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, ithc-global/add-or-update, prod-shutter/no-changes, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1554 Add Special Tribunals Citizen Frontend App
  environments/prod/prod.tfvars
Labels: sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, prod-shutter/add-or-update, test-apim/no-changes, ithc-apim/no-changes, prod-apim/no-changes, stg-apim/no-changes, demo-apim/no-changes, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-global/add-or-update, prod-frontendappgateway/add-or-update, ithc-global/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1556 Update stg.tfvars to change pcq aat to Prevention as same as prod
  environments/stg/stg.tfvars
Labels: sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/add-or-update, prod-shutter/no-changes, sbox-apim/destroy, demo-apim/destroy, test-apim/destroy, ithc-apim/destroy, prod-apim/destroy, stg-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1565 Update to a valid service connection
  azure_pipeline.yaml
Labels: sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, demo-apim/no-changes, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/add-or-update, prod-shutter/no-changes, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1563 ET Hearings API
  environments/demo/backend_lb_config.yaml
  environments/ithc/backend_lb_config.yaml
  environments/prod/backend_lb_config.yaml
  environments/stg/backend_lb_config.yaml
  environments/test/backend_lb_config.yaml
Labels: sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, ithc-backendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, demo-apim/no-changes, demo-cftapps_private_dns/add-or-update, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-cftapps_private_dns/add-or-update, test-cftapps_private_dns/add-or-update, stg-cftapps_private_dns/add-or-update, ithc-cftapps_private_dns/add-or-update, prod-backendappgateway/add-or-update, stg-backendappgateway/add-or-update, prod-shutter/no-changes, demo-backendappgateway/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1562 README title change
  README.md
Labels: sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, demo-apim/no-changes, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-shutter/no-changes, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1566 Update ithc.tfvars
  environments/ithc/ithc.tfvars
Labels: sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, demo-apim/no-changes, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, ithc-global/add-or-update, sbox-shutter/add-or-update, prod-shutter/no-changes, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1567 Amend ST config for frontend app multiple envs
  environments/demo/backend_lb_config.yaml
  environments/demo/demo.tfvars
  environments/ithc/backend_lb_config.yaml
  environments/prod/backend_lb_config.yaml
  environments/stg/backend_lb_config.yaml
  environments/test/backend_lb_config.yaml
  environments/test/test.tfvars
Labels: sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, ithc-backendappgateway/add-or-update, test-frontendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, demo-apim/no-changes, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, stg-global/no-changes, test-global/add-or-update, prod-backendappgateway/add-or-update, stg-cftapps_private_dns/destroy, sbox-shutter/add-or-update, stg-backendappgateway/add-or-update, prod-cftapps_private_dns/destroy, prod-shutter/no-changes, demo-cftapps_private_dns/destroy, demo-backendappgateway/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, ithc-cftapps_private_dns/destroy, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, test-cftapps_private_dns/destroy, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes
