Repository hmcts/azure-platform-terraform, pull requests merged in 2023-09, with the labels that each got.

#1696 Revert "Revert "disable manage-case FD cache - Production""
  environments/prod/prod.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_global/add-or-update

#1698 disable FD cache for manage-case demo and demo-int
  environments/demo/demo.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, demo_global/add-or-update, prod_shutter_webapp/add-or-update

#1702 shutter-pet-apps
  environments/prod/prod.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, sbox_shutter_webapp/no-changes, prod_global/add-or-update, prod_shutter_webapp/add-or-update

#1704 Update prod.tfvars
  environments/prod/prod.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_global/add-or-update, prod_shutter_webapp/add-or-update

#1708 add apim perftest appgw
  azure_pipeline.yaml
  components/apim-appgw/init.tf
  components/apim-appgw/local.tf
  components/apim-appgw/main.tf
  environments/test/apim_appgw_config.yaml
  environments/test/test.tfvars
  environments/variables.tf
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_global/add-or-update, prod_shutter_webapp/add-or-update, sbox_apim_appgw/add-or-update, test_apim_appgw/add-or-update

#1711 attempt 2
  environments/test/apim_appgw_config.yaml
  environments/test/test.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_global/add-or-update, prod_shutter_webapp/no-changes, test_apim_appgw/add-or-update

#1712 multiple certs for apim appgw
  components/apim-appgw/main.tf
  components/apim-appgw/root_certs.tf
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_global/add-or-update, prod_shutter_webapp/no-changes, test_apim_appgw/no-changes

#1713 et aat
  environments/stg/backend_lb_config.yaml
  environments/stg/stg.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, aat_global/add-or-update, prod_global/add-or-update, prod_shutter_webapp/add-or-update, stg_private_dns/add-or-update, stg_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, test_apim_appgw/no-changes

#1714 add in demo et config
  environments/demo/backend_lb_config.yaml
  environments/demo/demo.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, aat_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, demo_private_dns/add-or-update, demo_backendappgateway/add-or-update, demo_frontendappgateway/add-or-update, test_apim_appgw/no-changes

#1677 Add autoshutdown tag
  components/backendappgateway/main.tf
  components/frontendappgateway/main.tf
  environments/demo/demo.tfvars
  environments/dev/dev.tfvars
  environments/ithc/ithc.tfvars
  environments/sbox/sbox.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
  environments/variables.tf
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, prod_frontendappgateway/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, prod_global/add-or-update, prod_shutter_webapp/no-changes, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes

#1715 fix backends
  environments/demo/backend_lb_config.yaml
  environments/prod/backend_lb_config.yaml
  environments/stg/backend_lb_config.yaml
Labels: sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, sbox_apim/add-or-update, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, prod_frontendappgateway/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, ithc_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, aat_global/no-changes, demo_global/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, prod_global/add-or-update, prod_shutter_webapp/no-changes, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, prod_private_dns/add-or-update, test_apim_appgw/no-changes, stg_private_dns/destroy, demo_private_dns/destroy

#1716 multiple ssl certs on appgw apim
  components/apim-appgw/main.tf
  environments/sbox/apim_appgw_config.yaml
  environments/test/apim_appgw_config.yaml
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_global/add-or-update, prod_shutter_webapp/no-changes, test_apim_appgw/add-or-update

#1718 add in fd config for datacapture
  environments/demo/demo.tfvars
  environments/stg/stg.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, aat_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, test_apim_appgw/no-changes

#1719 et-test-whitelist
  environments/prod/prod.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, aat_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, test_apim_appgw/no-changes

#1720 add in whitelisted ranges for et apps
  environments/prod/prod.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, aat_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, test_apim_appgw/no-changes

#1721 switch to keyvault
  environments/prod/prod.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, aat_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, test_apim_appgw/no-changes

#1722 Update prod.tfvars
  environments/prod/prod.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, aat_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, test_apim_appgw/no-changes

#1725 Make firewall match in nonprod for ET and one more prod fix
  environments/demo/demo.tfvars
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, sbox_apim/destroy, sbox_shutter_webapp/no-changes

#1726 new cookies
  environments/prod/prod.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, aat_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, test_apim_appgw/no-changes

#1727 Add help with fees FEs and API
  environments/stg/backend_lb_config.yaml
  environments/stg/stg.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, aat_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_private_dns/add-or-update, stg_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, test_apim_appgw/no-changes

#1729 Add help with fees cookie exepts aat
  environments/stg/stg.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, aat_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/no-changes, test_apim_appgw/no-changes

#1730 WAF config for TT
  environments/demo/demo.tfvars
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, aat_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, test_apim_appgw/no-changes

#1731 Update prod.tfvars
  environments/prod/prod.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, aat_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, test_apim_appgw/no-changes

#1733 Add waf exceptions to tt
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, ithc_frontendappgateway/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, test_apim_appgw/no-changes

#1734 Demo help with fees FE & api conf & cookie exepts
  environments/demo/backend_lb_config.yaml
  environments/demo/demo.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, demo_global/add-or-update, prod_shutter_webapp/add-or-update, demo_private_dns/add-or-update, demo_backendappgateway/add-or-update, demo_frontendappgateway/add-or-update, test_apim_appgw/no-changes

#1732 deploying new classic frontdoor to sbox
  components/global/main.tf
  environments/sbox/sbox.tfvars
  environments/variables.tf
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, sbox_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/no-changes, test_apim_appgw/no-changes

#1737 upgrade waf exclusions for tt
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, sbox_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, test_apim_appgw/no-changes

#1738 Add tt further waf
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, sbox_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, test_apim_appgw/no-changes

#1739 reverted frontdoor to allow prod build
  components/global/main.tf
  environments/sbox/sbox.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/no-changes, sbox_global/destroy, test_apim_appgw/no-changes

#1740 deployed after updating the module
  components/global/main.tf
  environments/sbox/sbox.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, sbox_global/add-or-update, prod_shutter_webapp/no-changes, test_apim_appgw/no-changes

#1742 HWF address lookup stg.tfvars
  environments/stg/stg.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, sbox_global/add-or-update, aat_global/add-or-update, prod_shutter_webapp/no-changes, test_apim_appgw/no-changes

#1743 Stg help with fees lookup exepts
  environments/stg/stg.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, sbox_global/add-or-update, aat_global/add-or-update, prod_shutter_webapp/no-changes, test_apim_appgw/no-changes

#1744 Adding auth-token to hwf
  environments/stg/stg.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, aat_global/add-or-update, prod_shutter_webapp/no-changes, test_apim_appgw/no-changes

#1745 removed test frontdoor
  components/global/main.tf
  environments/sbox/sbox.tfvars
  environments/variables.tf
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_shutter_webapp/no-changes, sbox_global/destroy, test_apim_appgw/no-changes

#1746 Update HWF api backend_lb_config.yaml
  environments/stg/backend_lb_config.yaml
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_shutter_webapp/no-changes, stg_backendappgateway/add-or-update, test_apim_appgw/no-changes, stg_private_dns/destroy

#1747 PROD Hwf WAF conf & LB
  environments/prod/backend_lb_config.yaml
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, demo_private_dns/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, prod_global/add-or-update, prod_shutter_webapp/destroy, prod_private_dns/add-or-update, test_apim_appgw/no-changes

#1748 PROD help with fees zone name update
  environments/prod/prod.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_shutter_webapp/add-or-update, test_apim_appgw/no-changes

#1749 Update prod.tfvars
  environments/prod/prod.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_shutter_webapp/no-changes, prod_global/add-or-update, prod_shutter_webapp/add-or-update, test_apim_appgw/no-changes

#1751 Hwf- Updating waf filter
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, demo_global/no-changes, sbox_shutter_webapp/no-changes, aat_global/add-or-update, prod_global/add-or-update, prod_shutter_webapp/add-or-update, test_apim_appgw/no-changes

#1750 remove cluster for upgrade
  environments/sbox/sbox.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, prod_shutter_webapp/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes

#1756 WAF filter for staff app
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, aat_global/add-or-update, prod_global/add-or-update, prod_shutter_webapp/add-or-update, test_apim_appgw/no-changes

#1754 removing sbox 01
  environments/sbox/sbox.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, prod_shutter_webapp/no-changes, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes

#1757 add add_rewrite_rule true for mtls appgw
  environments/test/apim_appgw_config.yaml
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, sbox_apim/add-or-update, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_shutter_webapp/no-changes, test_apim_appgw/add-or-update

#1759 Remove rewrite rule flag for mtls app gateway
  environments/test/apim_appgw_config.yaml
Labels: sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, sbox_apim/add-or-update, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_shutter_webapp/no-changes, sbox_frontendappgateway/add-or-update, test_apim_appgw/add-or-update

#1760 add variable default
  environments/variables.tf
Labels: sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, sbox_apim/add-or-update, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_shutter_webapp/no-changes, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes

#1761 Add rewrite rule flag for mtls app gateway
  environments/test/apim_appgw_config.yaml
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, sbox_apim/add-or-update, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_shutter_webapp/no-changes, test_apim_appgw/add-or-update

#1767 Update ithc.tfvars
  environments/ithc/ithc.tfvars
Labels: sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, ithc_global/add-or-update, prod_shutter_webapp/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes

#1768 Updates to add new IA component ia-hearings-api
  environments/demo/backend_lb_config.yaml
  environments/ithc/backend_lb_config.yaml
  environments/prod/backend_lb_config.yaml
  environments/sbox/backend_lb_config.yaml
  environments/stg/backend_lb_config.yaml
  environments/test/backend_lb_config.yaml
Labels: sbox_frontendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_frontendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_backendappgateway/add-or-update, sbox_private_dns/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, test_backendappgateway/add-or-update, ithc_global/add-or-update, prod_shutter_webapp/no-changes, ithc_private_dns/add-or-update, stg_private_dns/add-or-update, demo_private_dns/add-or-update, test_cftapps_private_dns/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, prod_private_dns/add-or-update, test_apim_appgw/no-changes

#1769 added frotend apex
  environments/sbox/sbox.tfvars
Labels: sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/add-or-update, sbox_global/add-or-update, ithc_global/add-or-update, prod_shutter_webapp/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes

#1771 Revert "added frotend apex"
  environments/sbox/sbox.tfvars
Labels: sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, ithc_global/add-or-update, sbox_shutter_webapp/destroy, prod_shutter_webapp/no-changes, sbox_frontendappgateway/add-or-update, sbox_global/destroy, test_apim_appgw/no-changes
