Repository hmcts/azure-platform-terraform, pull requests merged in 2023-06, with the labels that each got.

#1572 fix sptribs perftest
  environments/test/test.tfvars
Labels: sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, demo-apim/no-changes, prod-shutter/destroy, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, stg-global/no-changes, test-global/add-or-update, sbox-shutter/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1578 Update backend_lb_config.yaml
  environments/sbox/backend_lb_config.yaml
Labels: sbox-backendappgateway/add-or-update, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, demo-apim/no-changes, prod-shutter/destroy, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, sbox-cftapps_private_dns/add-or-update, sbox-shutter/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes

#1580 take out prod-00
  environments/prod/prod.tfvars
Labels: sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, demo-apim/no-changes, prod-shutter/destroy, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-shutter/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1581 take prod01 out of AGW
  environments/prod/prod.tfvars
Labels: sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, demo-apim/no-changes, prod-shutter/destroy, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-shutter/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1584 SIDM-8732: Add new cookie name for idam user dashboard
  environments/prod/prod.tfvars
Labels: sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, demo-apim/no-changes, prod-shutter/destroy, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-global/add-or-update, sbox-shutter/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1585 SIDM-8736: Add auth_verification cookie to user dashboard
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/sbox/sbox.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
Labels: sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, demo-apim/no-changes, prod-shutter/destroy, dev-global/no-changes, test-global/add-or-update, prod-global/add-or-update, stg-global/add-or-update, sbox-global/add-or-update, ithc-global/add-or-update, sbox-shutter/add-or-update, demo-global/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1590 Change application gateway min nodes
  components/backendappgateway/main.tf
  components/frontendappgateway/main.tf
  environments/prod/prod.tfvars
  environments/variables.tf
Labels: sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, demo-apim/no-changes, prod-shutter/destroy, sbox-global/no-changes, dev-global/no-changes, test-global/add-or-update, prod-global/add-or-update, stg-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, ithc-global/add-or-update, sbox-shutter/add-or-update, demo-global/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1587 IJPS-37: Added entry for JPS
  environments/demo/backend_lb_config.yaml
  environments/ithc/backend_lb_config.yaml
  environments/prod/backend_lb_config.yaml
  environments/stg/backend_lb_config.yaml
  environments/test/backend_lb_config.yaml
Labels: sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, ithc-backendappgateway/add-or-update, test-apim/no-changes, ithc-apim/no-changes, demo-apim/no-changes, demo-cftapps_private_dns/add-or-update, prod-shutter/destroy, sbox-global/no-changes, dev-global/no-changes, prod-cftapps_private_dns/add-or-update, test-cftapps_private_dns/add-or-update, stg-cftapps_private_dns/add-or-update, ithc-cftapps_private_dns/add-or-update, test-global/add-or-update, prod-global/add-or-update, stg-global/add-or-update, prod-backendappgateway/add-or-update, ithc-global/add-or-update, sbox-shutter/add-or-update, stg-backendappgateway/add-or-update, demo-backendappgateway/add-or-update, demo-global/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1591 temp disable pipeline tests for p1
  azure_pipeline.yaml
Labels: sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, demo-apim/no-changes, prod-shutter/destroy, sbox-global/no-changes, dev-global/no-changes, test-global/add-or-update, prod-global/add-or-update, stg-global/add-or-update, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, ithc-global/add-or-update, sbox-shutter/add-or-update, demo-global/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1592 DTSPO-14242 - Temp disable private_dns tests as they are blocking pip…
  azure_pipeline.yaml
Labels: sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, test-apim/no-changes, ithc-apim/no-changes, demo-apim/no-changes, demo-cftapps_private_dns/add-or-update, prod-shutter/destroy, sbox-global/no-changes, dev-global/no-changes, prod-cftapps_private_dns/add-or-update, test-cftapps_private_dns/add-or-update, stg-cftapps_private_dns/add-or-update, ithc-cftapps_private_dns/add-or-update, test-global/add-or-update, prod-global/add-or-update, stg-global/add-or-update, ithc-global/add-or-update, sbox-shutter/add-or-update, demo-global/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1588 Unblocking Juror Digital Ip address on AAT
  environments/stg/stg.tfvars
Labels: sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, demo-apim/no-changes, prod-shutter/destroy, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/add-or-update, sbox-shutter/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1594 Add SDT apps to demo, ithc and perftest
  environments/demo/backend_lb_config.yaml
  environments/ithc/backend_lb_config.yaml
  environments/test/backend_lb_config.yaml
Labels: sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, test-backendappgateway/add-or-update, stg-cftapps_private_dns/no-changes, ithc-backendappgateway/add-or-update, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, demo-apim/no-changes, demo-cftapps_private_dns/add-or-update, prod-shutter/destroy, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, test-cftapps_private_dns/add-or-update, ithc-cftapps_private_dns/add-or-update, sbox-shutter/add-or-update, demo-backendappgateway/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, stg-backendappgateway/no-changes, prod-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1602 Further scale up min nodes for prod appgws
  components/backendappgateway/main.tf
  components/frontendappgateway/main.tf
  environments/prod/prod.tfvars
  environments/variables.tf
Labels: sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, demo-apim/no-changes, prod-shutter/destroy, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-backendappgateway/add-or-update, prod-frontendappgateway/add-or-update, sbox-shutter/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1601 Move activity API to different gateway
  environments/prod/backend_lb_config.yaml
Labels: sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, demo-apim/no-changes, prod-shutter/destroy, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-cftapps_private_dns/add-or-update, prod-backendappgateway/add-or-update, sbox-shutter/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1603 Update backend_lb_config.yaml
  environments/sbox/backend_lb_config.yaml
Labels: sbox-backendappgateway/add-or-update, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, demo-apim/no-changes, prod-shutter/destroy, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, sbox-cftapps_private_dns/add-or-update, sbox-shutter/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes
