Repository hmcts/azure-platform-terraform, pull requests merged in 2023-07, with the labels that each got.

#1612 Add shutter_app false to rhodrif-labs
  .gitignore
  environments/prod/prod.tfvars
  environments/sbox/sbox.tfvars
Labels: sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, demo-apim/no-changes, prod-shutter/destroy, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, sbox-shutter/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1613 Update stg.tfvars for PCQ
  environments/stg/stg.tfvars
Labels: sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, demo-apim/no-changes, prod-shutter/destroy, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/add-or-update, sbox-shutter/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1614 Add local for shutter
  .gitignore
  components/shutter/local.tf
  components/shutter/module_shutter.tf
  environments/prod/prod.tfvars
Labels: sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, demo-apim/no-changes, prod-shutter/destroy, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, sbox-shutter/destroy, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1611 Add-Custom Gateway to cftapps
  azure_pipeline.yaml
  components/apim/main.tf
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
  environments/variables.tf
Labels: sbox-shutter/no-changes, sbox-cftapps_private_dns/no-changes, ptl-dynatrace_activegate/no-changes, stg-cftapps_private_dns/no-changes, test-cftapps_private_dns/no-changes, demo-cftapps_private_dns/no-changes, ithc-cftapps_private_dns/no-changes, prod-cftapps_private_dns/no-changes, test-apim/no-changes, ithc-apim/no-changes, demo-apim/no-changes, sbox-global/no-changes, demo-global/no-changes, dev-global/no-changes, ithc-global/no-changes, prod-global/no-changes, test-global/no-changes, stg-global/no-changes, prod-shutter/no-changes, prod-apim/add-or-update, stg-apim/add-or-update, sbox-apim/destroy, sbox-apim-appgw/no-changes, demo-frontendappgateway/no-changes, stg-frontendappgateway/no-changes, ithc-frontendappgateway/no-changes, test-frontendappgateway/no-changes, prod-frontendappgateway/no-changes, ithc-backendappgateway/no-changes, stg-backendappgateway/no-changes, test-backendappgateway/no-changes, prod-backendappgateway/no-changes, demo-backendappgateway/no-changes, sbox-frontendappgateway/no-changes, sbox-backendappgateway/no-changes

#1622 remove cluster 00 for rebuild
  environments/prod/prod.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_shutter/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, test_backendappgateway/no-changes, prod_shutter/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update

#1624 dtspo-14385 add new shutter webapp component
  azure_pipeline.yaml
  components/shutter_static_webapp/data.tf
  components/shutter_static_webapp/init.tf
  components/shutter_static_webapp/resource_group.tf
  components/shutter_static_webapp/static_webapp.tf
  components/shutter_static_webapp/variables.tf
  environments/sbox/sbox.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_shutter/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, prod_shutter/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/add-or-update

#1628 remove perftest 00 from agw
  environments/test/test.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_shutter/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, prod_shutter/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update

#1630 Shutter plum app for testing static webapp solution
  environments/prod/prod.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_shutter/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, prod_shutter/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes

#1626 ITHC: Remove ithc01 internal LB to allow for AKS patch 1.26
  environments/ithc/ithc.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_shutter/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, prod_shutter/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update

#1629 SIDM-8809 add code challenge
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/sbox/sbox.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_shutter/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, prod_shutter/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update

#1627 Removed ukwest entries
  components/apim-appgw/local.tf
  components/apim/local.tf
  migrate-appgateway.md
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_shutter/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, prod_shutter/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update

#1631 dtspo-14285 update shutter static web app
  components/shutter_static_webapp/static_webapp.tf
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_shutter/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, prod_shutter/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/destroy

#1633 Create Static webapp for prod env
  azure_pipeline.yaml
  environments/prod/prod.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_shutter/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, prod_shutter/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_shutter_webapp/add-or-update

#1634 SIDM-8809 code verifier
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/sbox/sbox.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_shutter/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, prod_shutter/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update

#1635 re-add perftest 00 back to agw
  environments/test/test.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_shutter/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, prod_shutter/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, prod_shutter_webapp/add-or-update

#1636 Revert "ITHC: Remove ithc01 internal LB to allow for AKS patch 1.26"
  environments/ithc/ithc.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_shutter/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, prod_shutter/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, prod_shutter_webapp/no-changes

#1637 Upgrade perftest
  environments/test/test.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_shutter/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, prod_shutter/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, prod_shutter_webapp/no-changes

#1638 adding civil orchestrator service
  environments/demo/backend_lb_config.yaml
  environments/ithc/backend_lb_config.yaml
  environments/stg/backend_lb_config.yaml
  environments/test/backend_lb_config.yaml
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_shutter/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_frontendappgateway/no-changes, prod_private_dns/no-changes, prod_backendappgateway/no-changes, prod_shutter/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, test_backendappgateway/add-or-update, prod_shutter_webapp/no-changes, ithc_private_dns/add-or-update, stg_private_dns/add-or-update, demo_private_dns/add-or-update, test_cftapps_private_dns/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update

#1639 ITHC: Remove ithc00 for AKS patching to GA version 1.26
  environments/ithc/ithc.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_shutter/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, prod_shutter/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, prod_shutter_webapp/no-changes

#1640 Revert "ITHC: Remove ithc00 for AKS patching to GA version 1.26"
  environments/ithc/ithc.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_shutter/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, prod_shutter/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, prod_shutter_webapp/no-changes

#1641 Upgrade perftest
  environments/test/test.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_shutter/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, prod_shutter/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, prod_shutter_webapp/no-changes

#1643 AAT: Remove aat01 for AKS patch GA version 1.26
  environments/stg/stg.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_shutter/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, prod_shutter/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_shutter_webapp/no-changes, stg_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update

#1646 AAT: Remove AAT-00 for AKS patch GA version 1.26
  environments/stg/stg.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_shutter/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, prod_shutter/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_shutter_webapp/no-changes, stg_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update

#1647 Remove Demo01 - AKS upgrades
  environments/demo/demo.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_shutter/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, test_backendappgateway/no-changes, prod_shutter/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_shutter_webapp/no-changes, demo_backendappgateway/destroy

#1648 Revert "Remove Demo01 - AKS upgrades"
  environments/demo/demo.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_shutter/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, prod_shutter/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_shutter_webapp/no-changes

#1650 Revert "AAT: Remove AAT-00 for AKS patch GA version 1.26"
  environments/stg/stg.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_shutter/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, prod_shutter/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_shutter_webapp/no-changes, stg_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update

#1649 Remove demo01 cluster for aks upgrades
  environments/demo/demo.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_shutter/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, test_backendappgateway/no-changes, prod_shutter/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_shutter_webapp/no-changes, demo_backendappgateway/add-or-update, demo_frontendappgateway/add-or-update

#1651 Revert "Remove demo01 cluster for aks upgrades"
  environments/demo/demo.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_shutter/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, test_backendappgateway/no-changes, prod_shutter/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_shutter_webapp/no-changes, demo_backendappgateway/add-or-update, demo_frontendappgateway/add-or-update

#1652 LAU-707: Add exclusions to align LAU AAT with Prod and unblock static assets
  environments/stg/stg.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_shutter/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, prod_shutter/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, aat_global/add-or-update, prod_shutter_webapp/no-changes

#1653 Remove Demo 00 for aks upgrade
  environments/demo/demo.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_shutter/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, test_backendappgateway/no-changes, prod_shutter/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_shutter_webapp/no-changes, demo_backendappgateway/add-or-update, demo_frontendappgateway/add-or-update

#1656 Revert "Remove Demo 00 for aks upgrade"
  environments/demo/demo.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_shutter/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, test_backendappgateway/no-changes, prod_shutter/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_shutter_webapp/no-changes, demo_backendappgateway/add-or-update, demo_frontendappgateway/add-or-update
