Repository hmcts/azure-platform-terraform, pull requests merged in 2023-08, with the labels that each got.

#1657 SIDM-8663 csrf cookie
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/sbox/sbox.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_shutter/destroy, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, sbox_shutter/destroy, sbox_global/destroy

#1658 update static web app sku
  components/shutter_static_webapp/static_webapp.tf
  components/shutter_static_webapp/variables.tf
  environments/prod/prod.tfvars
  environments/sbox/sbox.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_shutter/destroy, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, sbox_shutter/destroy, sbox_global/destroy

#1659 shutter Web App: Add a sku_size variable
  components/shutter_static_webapp/static_webapp.tf
  components/shutter_static_webapp/variables.tf
  environments/prod/prod.tfvars
  environments/sbox/sbox.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, prod_shutter/destroy, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, sbox_shutter/destroy, sbox_global/destroy

#1662 remove sutter webapp
  environments/prod/prod.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_shutter/destroy, sbox_shutter/destroy, prod_shutter_webapp/destroy

#1663 SIDM-8836 Setup idam-user-profile-bridge
  environments/sbox/backend_lb_config.yaml
Labels: sbox_frontendappgateway/no-changes, sbox_shutter/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_private_dns/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, prod_shutter/destroy, prod_shutter_webapp/add-or-update

#1665 Remove old shutter config
  azure_pipeline.yaml
  components/shutter/.terraform-version
  components/shutter/local.tf
  components/shutter/module_shutter.tf
  components/shutter/provider.tf
  components/shutter/variables.tf
  modules/shutter_page/README.md
  modules/shutter_page/cdn_endpoints.tf
  modules/shutter_page/cdn_kv_access.tf
  modules/shutter_page/cdn_profiles.tf
  modules/shutter_page/custom_domains.tf
  modules/shutter_page/data.tf
  modules/shutter_page/enable_https.tf
  modules/shutter_page/storage_account.tf
  modules/shutter_page/templates/customHttps.json
  modules/shutter_page/templates/custom_domain.json
  modules/shutter_page/variables.tf
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_shutter_webapp/add-or-update

#1666 DTSPO-13833 updating pat-token to use SP-token
  azure_pipeline.yaml
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_shutter_webapp/add-or-update

#1669 Update README.md
  README.md
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_shutter_webapp/no-changes

#1673 added downloading root cert changes
  components/apim-appgw/download_root_certs.bash
  components/apim-appgw/local.tf
  components/apim-appgw/main.tf
  components/apim-appgw/merged.pem
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_shutter_webapp/add-or-update

#1671 Update backend_lb_config.yaml
  environments/sbox/backend_lb_config.yaml
Labels: sbox_frontendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, prod_shutter_webapp/add-or-update, sbox_private_dns/destroy

#1678 added demo,ithc,stg and test for cui-ra
  environments/demo/backend_lb_config.yaml
  environments/ithc/backend_lb_config.yaml
  environments/stg/backend_lb_config.yaml
  environments/stg/stg.tfvars
  environments/test/backend_lb_config.yaml
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, aat_global/add-or-update, prod_shutter_webapp/add-or-update, stg_frontendappgateway/add-or-update

#1687 Backend LB config for idam-user-profile-bridge
  environments/demo/backend_lb_config.yaml
  environments/ithc/backend_lb_config.yaml
  environments/stg/backend_lb_config.yaml
  environments/test/backend_lb_config.yaml
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_frontendappgateway/no-changes, prod_private_dns/no-changes, prod_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, test_backendappgateway/add-or-update, prod_shutter_webapp/no-changes, ithc_private_dns/add-or-update, stg_private_dns/add-or-update, demo_private_dns/add-or-update, test_cftapps_private_dns/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update

#1693 disable cache on manage-case.perftest FD URL
  environments/test/test.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, ithc_global/no-changes, prod_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, perftest_global/add-or-update, prod_shutter_webapp/no-changes

#1695 Revert "disable manage-case FD cache - Production"
  environments/prod/prod.tfvars
Labels: sbox_frontendappgateway/no-changes, sbox_private_dns/no-changes, sbox_backendappgateway/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, sbox_global/no-changes, demo_frontendappgateway/no-changes, test_frontendappgateway/no-changes, prod_frontendappgateway/no-changes, stg_frontendappgateway/no-changes, ithc_private_dns/no-changes, ithc_frontendappgateway/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, prod_backendappgateway/no-changes, stg_backendappgateway/no-changes, ithc_backendappgateway/no-changes, demo_backendappgateway/no-changes, test_backendappgateway/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, dev_global/no-changes, perftest_global/no-changes, ithc_global/no-changes, aat_global/no-changes, demo_global/no-changes, sbox_apim/destroy, prod_apim/no-changes, stg_apim/no-changes, sbox_shutter_webapp/no-changes, prod_global/add-or-update
