Repository hmcts/azure-platform-terraform, pull requests merged in 2024-04, with the labels that each got.

#2047 Added et_sya_cookie_preferences as a global exclusion
  environments/prod/prod.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2049 RET-4872
  environments/demo/demo.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2053 add ip to prod whitelist
  environments/prod/prod.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2052 DIAC-360
  environments/stg/stg.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2054 DTSPO-16138 - Remove dynatrace activegates
  components/dynatrace_activegate/nonprod-private.tf
  components/dynatrace_activegate/prod.tf
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes, ptl_dynatrace_activegate/destroy

#2057 DIAC-360
  environments/stg/stg.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/add-or-update, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2062 DTSPO-16593 - remove sbox 00 cluster
  environments/sbox/sbox.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2063 DTSPO-16593 - remove sbox 01
  environments/sbox/sbox.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/no-changes, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2064 DTSPO-16593 - remove 01
  environments/sbox/sbox.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2061 DIAC-360 exclusion update
  environments/stg/stg.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/no-changes, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2067 DTSPO-16594 - remove demo 00 from appgateway
  environments/demo/demo.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2068 Revert "DTSPO-16594 - remove demo 00 from appgateway"
  environments/demo/demo.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/no-changes, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2069 DTSPO-16594 - remove demo 01 from appgateway
  environments/demo/demo.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2072 DIAC-360 rolling out to other environments
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/test/test.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2076 Add CI PR AI Reviewer
  .github/workflows/pr-reviewer.yml
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2077 Revert "DTSPO-16594 - remove 00 cluster to upgrade"
  environments/stg/stg.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2078 DTSPO-16594 - remove 01 cluster to upgrade
  environments/stg/stg.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2080 DTSPO-16594 - remove 01 cluster to upgrade
  environments/stg/stg.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2081 Revert "DTSPO-16594 - remove 01 cluster to upgrade"
  environments/stg/stg.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2082 DTSPO-16594 - perftest 00 cluster remove from appgateway
  environments/test/test.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2084 DTSPO-16594 - perftest 01 cluster remove from appgateway
  environments/test/test.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2085 DTSSTCI-757
  environments/ithc/ithc.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2087 RET-4872
  environments/demo/demo.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2090 DTSPO-16595 - remove prod 00 cluster from appgateway
  environments/prod/prod.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2092 DTSPO-16595 - remove prod 01 cluster from appgateway
  environments/prod/prod.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2093 Revert "DTSPO-16595 - remove prod 01 cluster from appgateway"
  environments/prod/prod.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2058 SIDM-8234 Decomission idam-web-admin
  environments/prod/prod.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, demo_global/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, prod_shutter_webapp/destroy, test_apim_appgw/no-changes, prod_global/destroy, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2096 update git diff to only current branch
  .github/workflows/pr-reviewer.yml
  .github/workflows/pr-summary.yml
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/no-changes, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, prod_global/destroy, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes
