Repository hmcts/azure-platform-terraform, pull requests merged in 2024-09, with the labels that each got.

#2253 re-add-cft-sbox-00 to app gw
  environments/sbox/sbox.tfvars
Labels: sbox_private_dns/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, sbox_apim_appgw/add-or-update, test_apim_appgw/add-or-update, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/add-or-update, demo_apim_appgw/add-or-update, stg_apim_appgw/add-or-update

#2254 remove sbox-01 from gw
  environments/sbox/sbox.tfvars
Labels: sbox_private_dns/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, sbox_apim_appgw/add-or-update, test_apim_appgw/add-or-update, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/add-or-update, demo_apim_appgw/add-or-update, stg_apim_appgw/add-or-update

#2255 re-add cft-sbox 01 cluster
  environments/sbox/sbox.tfvars
Labels: sbox_private_dns/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, sbox_apim_appgw/add-or-update, test_apim_appgw/add-or-update, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/add-or-update, demo_apim_appgw/add-or-update, stg_apim_appgw/add-or-update

#2249 IDAM: Exclude new cookies from WAF analysis
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/sbox/sbox.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
Labels: sbox_private_dns/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, sbox_apim_appgw/add-or-update, test_apim_appgw/add-or-update, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/add-or-update, demo_apim_appgw/add-or-update, stg_apim_appgw/add-or-update

#2256 DTSPO-18669 Upgrade CFT NonProd AKS Clusters to Kubernetes 1.30 - remove demo 00 cluster
  environments/demo/demo.tfvars
Labels: sbox_private_dns/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, sbox_apim_appgw/add-or-update, test_apim_appgw/add-or-update, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/add-or-update, demo_apim_appgw/add-or-update, stg_apim_appgw/add-or-update

#2258 DTSPO-18669 Upgrade CFT NonProd AKS Clusters to Kubernetes 1.30 - re-add demo 00 IP
  environments/demo/demo.tfvars
Labels: sbox_private_dns/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, sbox_apim_appgw/add-or-update, test_apim_appgw/add-or-update, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/add-or-update, demo_apim_appgw/add-or-update, stg_apim_appgw/add-or-update

#2259 HwF - Adding online app search to WAF filter
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
Labels: sbox_private_dns/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, sbox_apim_appgw/add-or-update, test_apim_appgw/add-or-update, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/add-or-update, demo_apim_appgw/add-or-update, stg_apim_appgw/add-or-update

#2262 DTSPO-18669 - Upgrade CFT NonProd AKS Clusters to Kubernetes 1.30 - re-add Demo 01 IP
  environments/demo/demo.tfvars
Labels: sbox_private_dns/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, sbox_apim_appgw/add-or-update, test_apim_appgw/add-or-update, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/add-or-update, demo_apim_appgw/add-or-update, stg_apim_appgw/add-or-update

#2263 DTSPO-18669 Upgrade CFT NonProd AKS Clusters to Kubernetes 1.30 comment out AAT 00 IP
  environments/stg/stg.tfvars
Labels: sbox_private_dns/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, sbox_apim_appgw/add-or-update, test_apim_appgw/add-or-update, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/add-or-update, demo_apim_appgw/add-or-update, stg_apim_appgw/add-or-update

#2264 Upgrade CFT NonProd AKS Clusters to Kubernetes 1.30 - re-add AAT 01 ip
  environments/stg/stg.tfvars
Labels: sbox_private_dns/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, sbox_apim_appgw/add-or-update, test_apim_appgw/add-or-update, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/add-or-update, demo_apim_appgw/add-or-update, stg_apim_appgw/add-or-update

#2266 DTSPO-18669 : Upgrade CFT NonProd AKS Clusters to Kubernetes 1.30 remove aat 00 IP for aks upgrade
  environments/stg/stg.tfvars
Labels: sbox_private_dns/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, stg_apim/add-or-update, demo_apim/no-changes, test_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, sbox_apim_appgw/add-or-update, test_apim_appgw/add-or-update, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/add-or-update, demo_apim_appgw/add-or-update, stg_apim_appgw/add-or-update

#2267 DTSPO-18669 Upgrade CFT NonProd AKS Clusters to Kubernetes 1.30 - re add aat 00 IP
  environments/stg/stg.tfvars
Labels: sbox_private_dns/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, stg_apim/add-or-update, demo_apim/no-changes, test_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, sbox_apim_appgw/add-or-update, test_apim_appgw/add-or-update, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/add-or-update, demo_apim_appgw/add-or-update, stg_apim_appgw/add-or-update

#2269 ET-SYR ITHC and perf deployment
  environments/ithc/ithc.tfvars
  environments/test/test.tfvars
Labels: sbox_private_dns/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, stg_apim/add-or-update, demo_apim/no-changes, test_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, sbox_apim_appgw/add-or-update, test_apim_appgw/add-or-update, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/add-or-update, demo_apim_appgw/add-or-update, stg_apim_appgw/add-or-update

#2271 remove cft-perftest-00-aks-IP
  environments/test/test.tfvars
Labels: sbox_private_dns/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, stg_apim/add-or-update, demo_apim/no-changes, test_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, sbox_apim_appgw/add-or-update, test_apim_appgw/add-or-update, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/add-or-update, demo_apim_appgw/add-or-update, stg_apim_appgw/add-or-update

#2273 Upgrade CFT NonProd AKS Clusters to Kubernetes 1.30 - comment out cft-perftest-01 IP
  environments/test/test.tfvars
Labels: sbox_private_dns/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, stg_apim/add-or-update, demo_apim/no-changes, test_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, sbox_apim_appgw/add-or-update, test_apim_appgw/add-or-update, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/add-or-update, demo_apim_appgw/add-or-update, stg_apim_appgw/add-or-update

#2274 re-add cft-perfftest-01
  environments/test/test.tfvars
Labels: sbox_private_dns/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, stg_apim/add-or-update, demo_apim/no-changes, test_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, sbox_apim_appgw/add-or-update, test_apim_appgw/add-or-update, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/add-or-update, demo_apim_appgw/add-or-update, stg_apim_appgw/add-or-update

#2276 Upgrade CFT Prod and PTL AKS Clusters to Kubernetes 1.30 - comment out cft-prod 00 ip
  environments/prod/prod.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/add-or-update, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes

#2277 SSCSCI-1039
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/add-or-update, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes

#2278 Revert "Upgrade CFT Prod and PTL AKS Clusters to Kubernetes 1.30 - comment out cft-prod 00 ip"
  environments/prod/prod.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/add-or-update, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes

#2279 Upgrade CFT Prod and PTL AKS Clusters to Kubernetes 1.30 - Comment out cft-aks-prod-00-aks
  environments/prod/prod.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/add-or-update, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes

#2280 Upgrade CFT Prod AKS Clusters to Kubernetes 1.30 - re-add cft-prod-00-aks IP
  environments/prod/prod.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/add-or-update, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes

#2281 Revert Upgrade CFT Prod AKS Clusters to Kubernetes 1.30 - remove cft-prod-00-aks IP
  environments/prod/prod.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/add-or-update, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes

#2282 Upgrade CFT Prod AKS Clusters to Kubernetes 1.30 - re add cft-prod-00 IP
  environments/prod/prod.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/add-or-update, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes

#2283 Upgrade CFT Prod AKS Clusters to Kubernetes 1.30 - comment out cft-prod-01-aks-IP
  components/shutter_static_webapp/init.tf
  environments/prod/prod.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/add-or-update, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes

#2284 Upgrade CFT Prod and PTL AKS Clusters to Kubernetes 1.30 - re-add prod 01 IP
  environments/prod/prod.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/add-or-update, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes

#2285 Demo: Add PCIPal ca cert for mtls to demo apim appgw
  components/apim-appgw/root_certs.tf
  environments/demo/apim_appgw_config.yaml
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/add-or-update, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes

#2286 Amend the naming for new cert value
  components/apim-appgw/root_certs.tf
  environments/demo/apim_appgw_config.yaml
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/add-or-update, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes

#2288 FACT-1991 NON PROD false positive exceptions
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/add-or-update, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes

#2289 FACT-1991 PROD false positive exceptions
  environments/prod/prod.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/add-or-update, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes
