Repository hmcts/azure-platform-terraform, pull requests merged in 2024-02, with the labels that each got.

#1975 Add test listener to App Gateway config
  environments/prod/apim_appgw_config.yaml
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/add-or-update, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/add-or-update

#1983 amend name to test poc issue
  environments/sbox/sbox.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/add-or-update, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, sbox_global/destroy, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#1984 Dtspo 16046 ngfw poc
  environments/sbox/sbox.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/add-or-update, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, sbox_global/destroy, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#1985 Dtspo 16046 ngfw poc
  environments/sbox/backend_lb_config.yaml
Labels: sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_private_dns/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/add-or-update, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#1987 DTSPO-16046 ngfw poc
  environments/sbox/backend_lb_config.yaml
Labels: sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/add-or-update, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, sbox_private_dns/destroy, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#1986 Added SDT apps to AAT load balancer config
  environments/stg/backend_lb_config.yaml
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/add-or-update, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_private_dns/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#1988 DTSPO-16046
  environments/sbox/sbox.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/add-or-update, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, test_apim/add-or-update, prod_apim_appgw/no-changes

#1991 DTSPO-16046 amend backend domain name
  environments/sbox/sbox.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/add-or-update, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#1982 DTSSTCI-403
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/add-or-update, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/no-changes, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#1995 WAF filter for staff app params
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, sbox_apim/destroy, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/add-or-update, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, ithc_apim/destroy, demo_apim/destroy, test_apim/destroy, test_apim_appgw/no-changes, dev_global/add-or-update, stg_apim/destroy, prod_apim/destroy, prod_apim_appgw/no-changes

#1997 WAF filter addition
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/add-or-update, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#1999 DTSPO-16903-remove unused labs
  environments/sbox/backend_lb_config.yaml
  environments/sbox/sbox.tfvars
Labels: sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, sbox_shutter_webapp/destroy, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, sbox_global/destroy, sbox_private_dns/destroy, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#1998 Add CUI exclusions
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, sbox_global/destroy, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2000 Update ithc.tfvars with correct IP whitelist for User Dashboard
  environments/ithc/ithc.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ptl_dynatrace_activegate/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/add-or-update, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes
