Repository hmcts/azure-platform-terraform, pull requests merged in 2024-07, with the labels that each got.

#2169 SID-9130 Add hmcts-access exclusions for password, email, username
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2173 added Perftest
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/test/test.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2175 DTSPO-18201-update-DOM1-ip
  environments/prod/prod.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2176 SIDM-9335 exclude state and nonce
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/sbox/sbox.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2177 FACT-1846 setting fact admin to prevention mode DEMO
  environments/demo/demo.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2178 FACT-1846_2
  environments/demo/demo.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2179 DTSPO-18201-update-DOM1-ips
  environments/prod/prod.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2181 add exela root ca cert to cft-mtls listener
  components/apim-appgw/root_certs.tf
  environments/test/apim_appgw_config.yaml
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/add-or-update, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2182 perftest: remove exela root ca cert to cft-mtls listener
  components/apim-appgw/root_certs.tf
  environments/test/apim_appgw_config.yaml
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2188 FACT-1881 added global exclusions for fact admin
  environments/demo/demo.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2186 ET SYR
  environments/demo/demo.tfvars
  environments/stg/stg.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2189 deploying DSS in ithc and demo environment
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2190 FACT-1846 added missing auth_verification exclusion for fact-admin
  environments/demo/demo.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2191 FACT-1846 adding some more block exclusions fact-admin
  environments/demo/demo.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2195 DSS deployments to ITHC
  environments/ithc/ithc.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2196 Change from detection to prevention mode.
  environments/demo/demo.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2197 Dtscci 525 prevention mode for demo
  environments/demo/demo.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2193 DIAC-488 - remove LFI exclusion codes
  environments/prod/prod.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2200 Excluding money-claims-cookie-preferences cookies as it was causing l…
  environments/demo/demo.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2204 apim test with liberata ca
  components/apim-appgw/root_certs.tf
  environments/test/apim_appgw_config.yaml
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/add-or-update, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2201 Excluding money-claims-cookie-preferences cookies
  environments/demo/demo.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2202 FACT-1846 added more exclusions for fact-admin demo
  components/shutter_static_webapp/init.tf
  environments/demo/demo.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2207 add exclusions
  environments/demo/demo.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2183 FACT-1847 setting RPTS envs to Prevention Mode
  environments/test/test.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2208 Dtscci 525 enable prevention add aat rules for civil repos
  environments/stg/stg.tfvars
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2213 Install Exela cert on perftest
  components/apim-appgw/root_certs.tf
  environments/test/apim_appgw_config.yaml
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, stg_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/add-or-update, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes

#2214 set up em-media-viewer in AAT
  environments/stg/backend_lb_config.yaml
Labels: sbox_private_dns/no-changes, sbox_apim_appgw/no-changes, ithc_private_dns/no-changes, test_cftapps_private_dns/no-changes, prod_private_dns/no-changes, demo_private_dns/no-changes, ithc_apim/no-changes, demo_apim/no-changes, test_apim/no-changes, prod_apim/no-changes, stg_apim/no-changes, prod_frontendappgateway/add-or-update, prod_backendappgateway/add-or-update, sbox_backendappgateway/add-or-update, sbox_shutter_webapp/no-changes, ithc_backendappgateway/add-or-update, ithc_frontendappgateway/add-or-update, test_frontendappgateway/add-or-update, test_backendappgateway/add-or-update, sbox_global/add-or-update, perftest_global/add-or-update, aat_global/add-or-update, ithc_global/add-or-update, prod_global/add-or-update, demo_global/add-or-update, prod_shutter_webapp/add-or-update, stg_private_dns/add-or-update, stg_backendappgateway/add-or-update, demo_backendappgateway/add-or-update, stg_frontendappgateway/add-or-update, demo_frontendappgateway/add-or-update, sbox_frontendappgateway/add-or-update, test_apim_appgw/no-changes, dev_global/add-or-update, sbox_apim/no-changes, prod_apim_appgw/no-changes
