Repository hmcts/azure-platform-terraform, pull requests merged in 2024-12, with the labels that each got.

#2328 addinging corresponding Frontdoor entries
  environments/sbox/sbox.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes, sbox_global - TerraformPlanApply/destroy

#2309 Added Dynatrace cookie name to WAF filter
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes, sbox_global - TerraformPlanApply/destroy

#2331 Allow dtSa cookie to accept value on TT Demo
  environments/demo/demo.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes, sbox_global - TerraformPlanApply/destroy

#2334 Remove redundant code
  environments/demo/demo.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2336 add test stub service
  environments/test/backend_lb_config.yaml
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2337 add ccd print service to demo
  environments/demo/backend_lb_config.yaml
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2342 Add frontdoor entry for Lukasz's Golden Path sandbox
  environments/sbox/sbox.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2343 Frontdoor entry created
  environments/sbox/sbox.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2344 Add front door entry for Dawid Golden Path Lab DNS (GP step 9)
  environments/sbox/sbox.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2345 Corrected Frontdoor entry to align with lab instructions
  environments/sbox/sbox.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes, sbox_global - TerraformPlanApply/destroy, sbox_shutter_webapp - TerraformPlanApply/destroy
