Repository hmcts/azure-platform-terraform, pull requests merged in 2025-04, with the labels that each got.

#2448 Update sbox.tfvars with Dan nodejs frontend
  environments/sbox/sbox.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes, sbox_global - TerraformPlanApply/destroy, sbox_shutter_webapp - TerraformPlanApply/destroy

#2449 fix: set plumclassic custom domain
  environments/sbox/sbox.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes, sbox_shutter_webapp - TerraformPlanApply/destroy

#2451 Revert "DTSPO-24310: Temporarily removing cft-sbox-01-aks from load balancer"
  environments/sbox/sbox.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2452 Temporarily increase definition store request timeout
  environments/demo/backend_lb_config.yaml
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2454 chore: remove dan golden labs
  environments/sbox/sbox.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes, sbox_global - TerraformPlanApply/destroy

#2455 abhivan golden-path test
  environments/sbox/sbox.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2456 Revert "abhivan golden-path test"
  environments/sbox/sbox.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes, sbox_global - TerraformPlanApply/destroy
