Repository hmcts/azure-platform-terraform, pull requests merged in 2025-07, with the labels that each got.

#2531 FACT-2391 remove sample-apps
  environments/demo/backend_lb_config.yaml
  environments/sbox/backend_lb_config.yaml
  environments/stg/backend_lb_config.yaml
  environments/test/backend_lb_config.yaml
Labels: 765: dev_global - TerraformPlanApply/add-or-update, 765: aat_global - TerraformPlanApply/add-or-update, 765: sbox_apim - TerraformPlanApply/no-changes, 765: stg_apim - TerraformPlanApply/no-changes, 765: ithc_apim - TerraformPlanApply/no-changes, 765: test_apim - TerraformPlanApply/no-changes, 765: demo_apim - TerraformPlanApply/no-changes, 765: demo_private_dns - TerraformPlanApply/destroy, 765: prod_global - TerraformPlanApply/destroy, 765: sbox_apim_appgw - TerraformPlanApply/destroy, 765: prod_apim_appgw - TerraformPlanApply/destroy, 765: stg_apim_appgw - TerraformPlanApply/destroy, 765: test_apim_appgw - TerraformPlanApply/destroy, 765: demo_apim_appgw - TerraformPlanApply/destroy, 765: sbox_private_dns - TerraformPlanApply/destroy, 765: stg_private_dns - TerraformPlanApply/destroy

#2490 [NFDIV-3888] NFD WAF configuration updates
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
Labels: 765: dev_global - TerraformPlanApply/add-or-update, 765: aat_global - TerraformPlanApply/add-or-update, 765: sbox_apim - TerraformPlanApply/no-changes, 765: stg_apim - TerraformPlanApply/no-changes, 765: ithc_apim - TerraformPlanApply/no-changes, 765: test_apim - TerraformPlanApply/no-changes, 765: demo_apim - TerraformPlanApply/no-changes, 765: prod_global - TerraformPlanApply/destroy, 765: sbox_apim_appgw - TerraformPlanApply/destroy, 765: prod_apim_appgw - TerraformPlanApply/destroy, 765: stg_apim_appgw - TerraformPlanApply/destroy, 765: test_apim_appgw - TerraformPlanApply/destroy, 765: demo_apim_appgw - TerraformPlanApply/destroy

#2539 FPVTL-421: changes to ithc rules
  environments/ithc/ithc.tfvars
Labels: 765: dev_global - TerraformPlanApply/add-or-update, 765: aat_global - TerraformPlanApply/add-or-update, 765: sbox_apim - TerraformPlanApply/no-changes, 765: stg_apim - TerraformPlanApply/no-changes, 765: ithc_apim - TerraformPlanApply/no-changes, 765: test_apim - TerraformPlanApply/no-changes, 765: demo_apim - TerraformPlanApply/no-changes, 765: prod_global - TerraformPlanApply/destroy, 765: prod_apim_appgw - TerraformPlanApply/destroy, 765: stg_apim_appgw - TerraformPlanApply/destroy, 765: test_apim_appgw - TerraformPlanApply/destroy, 765: demo_apim_appgw - TerraformPlanApply/destroy

#2541 [NFDIV-3888] Correct nfd upload paths
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
Labels: 765: dev_global - TerraformPlanApply/add-or-update, 765: aat_global - TerraformPlanApply/add-or-update, 765: sbox_apim - TerraformPlanApply/no-changes, 765: stg_apim - TerraformPlanApply/no-changes, 765: ithc_apim - TerraformPlanApply/no-changes, 765: test_apim - TerraformPlanApply/no-changes, 765: demo_apim - TerraformPlanApply/no-changes, 765: prod_global - TerraformPlanApply/destroy, 765: prod_apim_appgw - TerraformPlanApply/destroy, 765: stg_apim_appgw - TerraformPlanApply/destroy, 765: test_apim_appgw - TerraformPlanApply/destroy, 765: demo_apim_appgw - TerraformPlanApply/destroy
