Repository hmcts/azure-platform-terraform, pull requests merged in 2025-01, with the labels that each got.

#2347 Add Front Door entry for Dawid Golden Path Node JS Application
  environments/sbox/sbox.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2349 Update sbox.tfvars - Golden Path
  environments/sbox/sbox.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2348 Update sbox.tfvars
  environments/sbox/sbox.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2352 DTSCCI-1428: disable 2 rule for cmc
  environments/prod/prod.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2353 Add frontdoor entry for Lukasz's Golden Path NodeJS app
  environments/sbox/sbox.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2338 DTSPO-22820 waf setup for new app gateway
  azure_pipeline.yaml
  components/pubsubappgateway/diagnostics.tf
  components/pubsubappgateway/local.tf
  components/pubsubappgateway/main.tf
  components/pubsubappgateway/provider.tf
  components/pubsubappgateway/variables.tf
  environments/demo/demo.tfvars
  environments/variables.tf
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2357 Update SKU to Standard
  environments/sbox/sbox.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2355 DTSPO-22820 Adding pubsub pip name
  components/pubsubappgateway/main.tf
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2354 Update sbox.tfvars, Pipeline fix
  environments/sbox/sbox.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes, sbox_global - TerraformPlanApply/destroy, sbox_shutter_webapp - TerraformPlanApply/destroy

#2356 Exclude return url
  environments/test/test.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2358 DTSPO-22820 adding condition for pubsub subnet
  components/pubsubappgateway/main.tf
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2361 Remove Front Door entries for the two Golden Path labs
  environments/sbox/sbox.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes, sbox_global - TerraformPlanApply/destroy, sbox_shutter_webapp - TerraformPlanApply/destroy

#2360 DTSPB-4467 add disabled_rules in demo for tesing
  environments/demo/demo.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes, sbox_global - TerraformPlanApply/destroy

#2362 Remove Golden Path Labs Front Door Entries
  environments/sbox/sbox.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes, sbox_global - TerraformPlanApply/destroy, sbox_shutter_webapp - TerraformPlanApply/destroy

#2363 DTSPB-4467 add disabled_rules 942120 in demo for tesing
  environments/demo/demo.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes, sbox_global - TerraformPlanApply/destroy

#2365 DTSPO-22820 Adding pubsub settings to other envs
  azure_pipeline.yaml
  components/pubsubappgateway/main.tf
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes, demo_pubsubappgateway - TerraformPlanApply/destroy

#2364 DTSPB-4467 Add SQLI disabled_rules for Probate Frontend
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2366 CRF-18: Add civil-rtl-export to load balancer config
  environments/demo/backend_lb_config.yaml
  environments/stg/backend_lb_config.yaml
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, test_apim_appgw - TerraformPlanApply/add-or-update, ithc_private_dns - TerraformPlanApply/no-changes, stg_private_dns - TerraformPlanApply/add-or-update, stg_apim - TerraformPlanApply/no-changes

#2367 DTSPB-4467 change disabled_rules for Probate Frontend
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2368 Add four additional WAF rules to probate frontend allowlist.
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2371 Add additional rule to probate frontend allowlist.
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2373 Add additional rule to probate frontend allowlist.
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2375 Platform/dtspo 23521 i ps to allowlist
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/sbox/sbox.tfvars
  environments/stg/stg.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes
