Repository hmcts/azure-platform-terraform, pull requests merged in 2025-08, with the labels that each got.

#2544 FPVTL-421: Update rules to stop false-positives
  environments/ithc/ithc.tfvars
Labels: 765: dev_global - TerraformPlanApply/add-or-update, 765: aat_global - TerraformPlanApply/add-or-update, 765: sbox_apim - TerraformPlanApply/no-changes, 765: stg_apim - TerraformPlanApply/no-changes, 765: ithc_apim - TerraformPlanApply/no-changes, 765: test_apim - TerraformPlanApply/no-changes, 765: demo_apim - TerraformPlanApply/no-changes, 765: prod_global - TerraformPlanApply/destroy, 765: prod_apim_appgw - TerraformPlanApply/destroy, 765: stg_apim_appgw - TerraformPlanApply/destroy, 765: test_apim_appgw - TerraformPlanApply/destroy, 765: demo_apim_appgw - TerraformPlanApply/destroy, 765: ithc_global - TerraformPlanApply/destroy, 765: perftest_global - TerraformPlanApply/destroy

#2545 DTSPO-26781: labs-manohar-hmcts-nodejs
  environments/sbox/sbox.tfvars
Labels: 765: dev_global - TerraformPlanApply/add-or-update, 765: aat_global - TerraformPlanApply/add-or-update, 765: sbox_apim - TerraformPlanApply/no-changes, 765: stg_apim - TerraformPlanApply/no-changes, 765: ithc_apim - TerraformPlanApply/no-changes, 765: test_apim - TerraformPlanApply/no-changes, 765: demo_apim - TerraformPlanApply/no-changes, 765: prod_global - TerraformPlanApply/destroy, 765: prod_apim_appgw - TerraformPlanApply/destroy, 765: stg_apim_appgw - TerraformPlanApply/destroy, 765: test_apim_appgw - TerraformPlanApply/destroy, 765: demo_apim_appgw - TerraformPlanApply/destroy

#2548 DTSPO-26781: mano-golden-path-revert
  environments/sbox/sbox.tfvars
Labels: 765: dev_global - TerraformPlanApply/add-or-update, 765: aat_global - TerraformPlanApply/add-or-update, 765: sbox_apim - TerraformPlanApply/no-changes, 765: stg_apim - TerraformPlanApply/no-changes, 765: ithc_apim - TerraformPlanApply/no-changes, 765: test_apim - TerraformPlanApply/no-changes, 765: demo_apim - TerraformPlanApply/no-changes, 765: prod_global - TerraformPlanApply/destroy, 765: prod_apim_appgw - TerraformPlanApply/destroy, 765: stg_apim_appgw - TerraformPlanApply/destroy, 765: test_apim_appgw - TerraformPlanApply/destroy, 765: demo_apim_appgw - TerraformPlanApply/destroy, 765: sbox_global - TerraformPlanApply/destroy

#2546 feat: disable TLS 1.0/1.1 in sandbox and prepare for rollout to other envs
  components/apim-appgw/local.tf
  components/apim-appgw/main.tf
  components/backendappgateway/local.tf
  components/backendappgateway/main.tf
  components/frontendappgateway/local.tf
  components/frontendappgateway/main.tf
  components/pubsubappgateway/main.tf
  environments/demo/demo.tfvars
  environments/dev/dev.tfvars
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/sbox/sbox.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
  environments/variables.tf
Labels: 765: dev_global - TerraformPlanApply/add-or-update, 765: aat_global - TerraformPlanApply/add-or-update, 765: sbox_apim - TerraformPlanApply/no-changes, 765: stg_apim - TerraformPlanApply/no-changes, 765: ithc_apim - TerraformPlanApply/no-changes, 765: test_apim - TerraformPlanApply/no-changes, 765: demo_apim - TerraformPlanApply/no-changes, 765: prod_global - TerraformPlanApply/destroy, 765: sbox_global - TerraformPlanApply/destroy

#2552 labs-shabbir-nodejs for golden path
  environments/sbox/sbox.tfvars
Labels: 765: dev_global - TerraformPlanApply/add-or-update, 765: aat_global - TerraformPlanApply/add-or-update, 765: sbox_apim - TerraformPlanApply/no-changes, 765: stg_apim - TerraformPlanApply/no-changes, 765: ithc_apim - TerraformPlanApply/no-changes, 765: test_apim - TerraformPlanApply/no-changes, 765: demo_apim - TerraformPlanApply/no-changes, 765: prod_global - TerraformPlanApply/destroy

#2553 Adding non-prod environments to the upgraded TLS policy
  components/apim-appgw/main.tf
  components/backendappgateway/main.tf
  components/frontendappgateway/local.tf
  components/frontendappgateway/main.tf
Labels: 765: dev_global - TerraformPlanApply/add-or-update, 765: aat_global - TerraformPlanApply/add-or-update, 765: sbox_apim - TerraformPlanApply/no-changes, 765: stg_apim - TerraformPlanApply/no-changes, 765: ithc_apim - TerraformPlanApply/no-changes, 765: test_apim - TerraformPlanApply/no-changes, 765: demo_apim - TerraformPlanApply/no-changes, 765: prod_global - TerraformPlanApply/destroy

#2560 PAY-8027 paymentoutcome-web set to prevention mode
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
Labels: 765: dev_global - TerraformPlanApply/add-or-update, 765: aat_global - TerraformPlanApply/add-or-update, 765: sbox_apim - TerraformPlanApply/no-changes, 765: stg_apim - TerraformPlanApply/no-changes, 765: ithc_apim - TerraformPlanApply/no-changes, 765: test_apim - TerraformPlanApply/no-changes, 765: demo_apim - TerraformPlanApply/no-changes, 765: prod_global - TerraformPlanApply/destroy

#2561 Updating the main.tf files so the new ssl policy is deployed to all e…
  components/apim-appgw/main.tf
  components/backendappgateway/main.tf
  components/frontendappgateway/main.tf
Labels: 765: dev_global - TerraformPlanApply/add-or-update, 765: aat_global - TerraformPlanApply/add-or-update, 765: sbox_apim - TerraformPlanApply/no-changes, 765: stg_apim - TerraformPlanApply/no-changes, 765: ithc_apim - TerraformPlanApply/no-changes, 765: test_apim - TerraformPlanApply/no-changes, 765: demo_apim - TerraformPlanApply/no-changes, 765: prod_global - TerraformPlanApply/destroy

#2563 PAY-8027_PaymentOutcome-Web
  environments/prod/prod.tfvars
Labels: 765: dev_global - TerraformPlanApply/add-or-update, 765: aat_global - TerraformPlanApply/add-or-update, 765: sbox_apim - TerraformPlanApply/no-changes, 765: stg_apim - TerraformPlanApply/no-changes, 765: ithc_apim - TerraformPlanApply/no-changes, 765: test_apim - TerraformPlanApply/no-changes, 765: demo_apim - TerraformPlanApply/no-changes
