Repository hmcts/azure-platform-terraform, pull requests merged in 2025-02, with the labels that each got.

#2377 changing ruleset to waf 2.1
  environments/ithc/ithc.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2378 Platops/dtspo 23355 private law waf2.1ruleset
  environments/ithc/ithc.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2379 WAF filter update
  environments/prod/prod.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2380 Platops/dtspo 23355 private law waf2.1ruleset
  environments/ithc/ithc.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2381 Platops/dtspo 23355 private law waf2.1ruleset
  environments/ithc/ithc.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2382 Platops/dtspo 23355 private law waf2.1ruleset
  environments/ithc/ithc.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2383 CUI disable csrf check on perf test
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/test/test.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2384 pubsub_endpoint ip updated
  environments/demo/demo.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2385 Exclude csrf from aat env
  environments/stg/stg.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2387 fix pubsub integration appgw
  components/pubsubappgateway/main.tf
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2388 Platops/dtspo 23355 private law waf2.1ruleset
  environments/ithc/ithc.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2391 Platops/dtspo 23355 private law waf2.1ruleset
  environments/ithc/ithc.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2394 Revert "Platops/dtspo 23355 private law waf2.1ruleset"
  environments/ithc/ithc.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2397 DTSPO-23915 removing ithc pubsub from pipeline
  azure_pipeline.yaml
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2396 Platops/23355
  environments/ithc/ithc.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2398 Platops/23355
  environments/ithc/ithc.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2400 Platops/23355
  environments/ithc/ithc.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2403 Adding WAF excepotion for deceased name
  environments/demo/demo.tfvars
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2405 FPET-1234 disbled DefaultRuleSet-1.0-SQLI-942440 rule
  environments/ithc/ithc.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2407 DTSPO-23915 adding additional settings for pubsub app gateway
  azure_pipeline.yaml
  components/frontendappgateway/local.tf
  components/frontendappgateway/main.tf
  components/frontendappgateway/provider.tf
  components/pubsubappgateway/local.tf
  components/pubsubappgateway/main.tf
  components/pubsubappgateway/provider.tf
  environments/demo/demo.tfvars
  environments/dev/dev.tfvars
  environments/ithc/ithc.tfvars
  environments/prod/prod.tfvars
  environments/sbox/sbox.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
  environments/variables.tf
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2406 PAY-7609: Decommission of Digital Bar: Front end (BAR Web) DEMO env
  environments/demo/backend_lb_config.yaml
  environments/demo/demo.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes, demo_global - TerraformPlanApply/destroy, demo_private_dns - TerraformPlanApply/destroy

#2414 Update WAF for SSCS IBA to Prevention
  environments/ithc/ithc.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes

#2411 PAY-7624: Decommission of Digital Bar: Front end (BAR Web): AAT, per…
  environments/ithc/backend_lb_config.yaml
  environments/ithc/ithc.tfvars
  environments/stg/backend_lb_config.yaml
  environments/stg/stg.tfvars
  environments/test/backend_lb_config.yaml
  environments/test/test.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/destroy, stg_private_dns - TerraformPlanApply/destroy, perftest_global - TerraformPlanApply/destroy, ithc_global - TerraformPlanApply/destroy, aat_global - TerraformPlanApply/destroy

#2415 goldenpath nodejs roger
  environments/sbox/sbox.tfvars
Labels: sbox_apim - TerraformPlanApply/no-changes, sbox_private_dns - TerraformPlanApply/no-changes, sbox_apim_appgw - TerraformPlanApply/add-or-update, sbox_global - TerraformPlanApply/add-or-update, ithc_apim - TerraformPlanApply/no-changes, test_apim - TerraformPlanApply/no-changes, demo_apim - TerraformPlanApply/no-changes, stg_apim_appgw - TerraformPlanApply/add-or-update, demo_apim_appgw - TerraformPlanApply/add-or-update, prod_private_dns - TerraformPlanApply/no-changes, prod_apim_appgw - TerraformPlanApply/add-or-update, prod_global - TerraformPlanApply/add-or-update, perftest_global - TerraformPlanApply/add-or-update, dev_global - TerraformPlanApply/add-or-update, aat_global - TerraformPlanApply/add-or-update, ithc_global - TerraformPlanApply/add-or-update, demo_global - TerraformPlanApply/add-or-update, stg_private_dns - TerraformPlanApply/no-changes, test_apim_appgw - TerraformPlanApply/add-or-update, demo_private_dns - TerraformPlanApply/no-changes, ithc_private_dns - TerraformPlanApply/no-changes, stg_apim - TerraformPlanApply/no-changes
